<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,0.25,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>3988F99B-7CEF-48A6-87CF-5F7AAC447423</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevecomb-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevecomb-cy.case</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
