<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>061A68AD-B0A1-43E8-92FD-FC63AE4AA307</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.hardsign-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
