<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,0.25,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B348A90D-3738-4CA9-AB29-7BC423DCC551</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.tau</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
