<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7EE5CF17-AD61-400F-ADF0-70BB8E8CE53C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.zhe-cy</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
