<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>8DDDD576-5EDB-4AD1-B8E1-7A9287114C98</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.alpha</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
