<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E4C25122-A0D2-4A33-AB3F-0F055EF41800</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.e-cy</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
