<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,1,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>0D5481ED-70EF-40B8-B1C9-1F490F313A31</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.dasiaperispomeni</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
