<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>6EEE475E-7CD0-4D65-9809-9ECAB5FD34D1</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresiscomb_gravecomb</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
