<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>2EE7735C-EE1C-4CBA-83A2-558ED5EC6D31</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.epsilon</key>
      <integer>15</integer>
    </dict>
  </dict>
</plist>
