<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,0.25,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>12589823-57C3-482F-AE60-4D9E6F5A614F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.liraTurkish</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
