<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>8038F18A-AD7A-4B17-8454-488A03CA5866</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.zeta</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
