<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-19</integer>
		<key>@MMK_R_O</key>
		<integer>-19</integer>
		<key>@MMK_R_T</key>
		<integer>-43</integer>
		<key>@MMK_R_U</key>
		<integer>-29</integer>
		<key>@MMK_R_V</key>
		<integer>-42</integer>
		<key>@MMK_R_X</key>
		<integer>0</integer>
		<key>@MMK_R_Y</key>
		<integer>-63</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-68</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-39</integer>
		<key>@MMK_R_period</key>
		<integer>10</integer>
		<key>colon</key>
		<integer>10</integer>
		<key>semicolon</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_B</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-10</integer>
		<key>@MMK_R_V</key>
		<integer>-10</integer>
		<key>@MMK_R_Y</key>
		<integer>-19</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-19</integer>
		<key>@MMK_R_period</key>
		<integer>-19</integer>
	</dict>
	<key>@MMK_L_C</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-6</integer>
		<key>@MMK_R_J</key>
		<integer>7</integer>
		<key>@MMK_R_O</key>
		<integer>-6</integer>
		<key>@MMK_R_T</key>
		<integer>0</integer>
		<key>@MMK_R_Y</key>
		<integer>7</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-23</integer>
	</dict>
	<key>@MMK_L_E</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>7</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-17</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-24</integer>
		<key>@MMK_R_J</key>
		<integer>39</integer>
		<key>@MMK_R_O</key>
		<integer>0</integer>
		<key>@MMK_R_S</key>
		<integer>-2</integer>
		<key>@MMK_R_T</key>
		<integer>29</integer>
		<key>@MMK_R_V</key>
		<integer>29</integer>
		<key>@MMK_R_X</key>
		<integer>29</integer>
		<key>@MMK_R_Y</key>
		<integer>39</integer>
		<key>@MMK_R_Z</key>
		<integer>14</integer>
		<key>@MMK_R_asterisk</key>
		<integer>19</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-19</integer>
		<key>@MMK_R_period</key>
		<integer>-96</integer>
	</dict>
	<key>@MMK_L_G</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-12</integer>
	</dict>
	<key>@MMK_L_H</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-1</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-29</integer>
		<key>@MMK_R_period</key>
		<integer>-29</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>10</integer>
		<key>@MMK_R_H</key>
		<integer>0</integer>
		<key>@MMK_R_J</key>
		<integer>-19</integer>
		<key>@MMK_R_O</key>
		<integer>-24</integer>
		<key>@MMK_R_T</key>
		<integer>-74</integer>
		<key>@MMK_R_U</key>
		<integer>-19</integer>
		<key>@MMK_R_V</key>
		<integer>-61</integer>
		<key>@MMK_R_Y</key>
		<integer>-72</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-88</integer>
	</dict>
	<key>@MMK_L_M</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-10</integer>
		<key>@MMK_R_Y</key>
		<integer>-19</integer>
		<key>@MMK_R_asterisk</key>
		<integer>0</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-29</integer>
		<key>@MMK_R_period</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-19</integer>
		<key>@MMK_R_J</key>
		<integer>10</integer>
		<key>@MMK_R_T</key>
		<integer>-19</integer>
		<key>@MMK_R_V</key>
		<integer>-29</integer>
		<key>@MMK_R_X</key>
		<integer>-19</integer>
		<key>@MMK_R_Y</key>
		<integer>-43</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-10</integer>
		<key>@MMK_R_period</key>
		<integer>-29</integer>
	</dict>
	<key>@MMK_L_P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-58</integer>
		<key>@MMK_R_J</key>
		<integer>10</integer>
		<key>@MMK_R_T</key>
		<integer>10</integer>
		<key>@MMK_R_V</key>
		<integer>-10</integer>
		<key>@MMK_R_X</key>
		<integer>-10</integer>
		<key>@MMK_R_Y</key>
		<integer>-5</integer>
		<key>@MMK_R_asterisk</key>
		<integer>19</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-39</integer>
		<key>@MMK_R_period</key>
		<integer>-146</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>-10</integer>
		<key>@MMK_R_U</key>
		<integer>-10</integer>
		<key>@MMK_R_V</key>
		<integer>-19</integer>
		<key>@MMK_R_Y</key>
		<integer>-27</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-19</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-39</integer>
		<key>@MMK_R_period</key>
		<integer>19</integer>
	</dict>
	<key>@MMK_L_S</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-12</integer>
		<key>@MMK_R_V</key>
		<integer>0</integer>
		<key>@MMK_R_Y</key>
		<integer>-6</integer>
		<key>@MMK_R_period</key>
		<integer>-32</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-46</integer>
		<key>@MMK_R_J</key>
		<integer>7</integer>
		<key>@MMK_R_O</key>
		<integer>-25</integer>
		<key>@MMK_R_S</key>
		<integer>-12</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-67</integer>
		<key>@MMK_R_period</key>
		<integer>-77</integer>
		<key>colon</key>
		<integer>-35</integer>
		<key>semicolon</key>
		<integer>-35</integer>
	</dict>
	<key>@MMK_L_U</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-22</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-29</integer>
		<key>@MMK_R_period</key>
		<integer>-18</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-34</integer>
		<key>@MMK_R_J</key>
		<integer>7</integer>
		<key>@MMK_R_M</key>
		<integer>-10</integer>
		<key>@MMK_R_O</key>
		<integer>-24</integer>
		<key>@MMK_R_S</key>
		<integer>-11</integer>
		<key>@MMK_R_Y</key>
		<integer>6</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-64</integer>
		<key>@MMK_R_period</key>
		<integer>-74</integer>
	</dict>
	<key>@MMK_L_X</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-2</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-57</integer>
		<key>@MMK_R_period</key>
		<integer>6</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-63</integer>
		<key>@MMK_R_J</key>
		<integer>10</integer>
		<key>@MMK_R_M</key>
		<integer>-19</integer>
		<key>@MMK_R_O</key>
		<integer>-43</integer>
		<key>@MMK_R_S</key>
		<integer>-19</integer>
		<key>@MMK_R_V</key>
		<integer>10</integer>
		<key>@MMK_R_asterisk</key>
		<integer>10</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-96</integer>
		<key>@MMK_R_period</key>
		<integer>-96</integer>
	</dict>
	<key>@MMK_L_Z</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>12</integer>
	</dict>
	<key>@MMK_L_asterisk</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-58</integer>
		<key>@MMK_R_O</key>
		<integer>-4</integer>
		<key>@MMK_R_V</key>
		<integer>4</integer>
		<key>@MMK_R_Y</key>
		<integer>10</integer>
		<key>@MMK_R_period</key>
		<integer>-77</integer>
		<key>questiondown</key>
		<integer>-50</integer>
		<key>space</key>
		<integer>-19</integer>
	</dict>
	<key>@MMK_L_hyphen</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-41</integer>
		<key>@MMK_R_H</key>
		<integer>-29</integer>
		<key>@MMK_R_J</key>
		<integer>-29</integer>
		<key>@MMK_R_M</key>
		<integer>-29</integer>
		<key>@MMK_R_T</key>
		<integer>-67</integer>
		<key>@MMK_R_U</key>
		<integer>-29</integer>
		<key>@MMK_R_V</key>
		<integer>-64</integer>
		<key>@MMK_R_X</key>
		<integer>-57</integer>
		<key>@MMK_R_Y</key>
		<integer>-81</integer>
		<key>@MMK_R_Z</key>
		<integer>-31</integer>
		<key>space</key>
		<integer>-19</integer>
	</dict>
	<key>@MMK_L_period</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-4</integer>
		<key>@MMK_R_O</key>
		<integer>-11</integer>
		<key>@MMK_R_T</key>
		<integer>-29</integer>
		<key>@MMK_R_U</key>
		<integer>-4</integer>
		<key>@MMK_R_V</key>
		<integer>-25</integer>
		<key>@MMK_R_X</key>
		<integer>0</integer>
		<key>@MMK_R_Y</key>
		<integer>-36</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-29</integer>
		<key>space</key>
		<integer>-7</integer>
	</dict>
	<key>question</key>
	<dict>
		<key>@MMK_R_asterisk</key>
		<integer>11</integer>
	</dict>
	<key>space</key>
	<dict>
		<key>@MMK_R_asterisk</key>
		<integer>-7</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-7</integer>
		<key>@MMK_R_period</key>
		<integer>-7</integer>
	</dict>
</dict>
</plist>
