<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>611A680A-0708-44BC-8BBA-F60A71D28A3F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.u</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
