<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9553605F-67E1-4A95-9F13-FA97B456EE99</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.t</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
