<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>74ADA9E0-6BC6-4010-A348-B1FE83B2A9B1</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.em-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
