<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>288FC72C-8CE4-4C90-A336-1C9E633359F0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Softsign-cy</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Softsign-cy.cond</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
