<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9B320D53-862F-4C15-AEC9-BB7FF0206F8C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ge-cy</key>
      <integer>9</integer>
    </dict>
  </dict>
</plist>
