<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>30D6CE76-55BE-41BA-87B5-4D148A6918EF</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.sigmafinal</key>
      <integer>12</integer>
    </dict>
  </dict>
</plist>
