<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,1,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>40161048-1318-496E-AA4D-2E6AEB990A0B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.zeta</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
