<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0.75,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7EA60624-C0F0-4BB3-8CA2-C832C1900F1B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.o</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
