<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,1,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>793BF2F2-CC1B-4608-A53B-B5463924A733</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.nu</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
