<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>07893222-1137-47E6-A78E-348D4099784E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.theta</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
