<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0.75,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>195BC5E1-0D57-4442-A1F7-2464C4EEF0FC</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight.lf</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
