<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>EF999717-9592-41C5-8406-1A267D7F9272</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Softsign-cy</key>
      <integer>7</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Softsign-cy.cond</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
