<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,0,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C405A37D-3257-409E-B96E-56A17B90EC55</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.cheverticalstroke-cy</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
