<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>03234D1B-C0A2-493E-85E3-C39D6AD359DA</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.E</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.e.sc</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
