<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>06C50279-E8B2-44D7-AC54-0F3D99221857</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.manat</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
