<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>700</integer>
	<key>capHeight</key>
	<integer>647</integer>
	<key>copyright</key>
	<string>Copyright (c) 2013 by Juan Pablo del Peral (huertatipografica.com.ar)</string>
	<key>descender</key>
	<integer>-185</integer>
	<key>familyName</key>
	<string>Alegreya Sans Black</string>
	<key>license</key>
	<string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
	<key>licenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeHeadCreated</key>
	<string>2012/03/22 18:34:14</string>
	<key>openTypeNameDesigner</key>
	<string>Juan Pablo del Peral</string>
	<key>openTypeNameDesignerURL</key>
	<string>http://www.huertatipografica.com.ar</string>
	<key>openTypeNameManufacturer</key>
	<string>Huerta Tipografica</string>
	<key>openTypeNameManufacturerURL</key>
	<string>http://www.huertatipografica.com.ar</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Alegreya Sans</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Black</string>
	<key>openTypeOS2Type</key>
	<array>
	</array>
	<key>openTypeOS2WeightClass</key>
	<integer>900</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-12</integer>
		<integer>0</integer>
		<integer>472</integer>
		<integer>484</integer>
		<integer>513</integer>
		<integer>525</integer>
		<integer>586</integer>
		<integer>598</integer>
		<integer>647</integer>
		<integer>659</integer>
		<integer>700</integer>
		<integer>712</integer>
	</array>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-197</integer>
		<integer>-185</integer>
		<integer>-95</integer>
		<integer>-83</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>128</integer>
		<integer>153</integer>
		<integer>162</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>184</integer>
		<integer>194</integer>
		<integer>210</integer>
	</array>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>1</integer>
	<key>xHeight</key>
	<integer>472</integer>
</dict>
</plist>
