<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-20</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-45</integer>
		<key>@MMK_R_U</key>
		<integer>-30</integer>
		<key>@MMK_R_V</key>
		<integer>-43</integer>
		<key>@MMK_R_X</key>
		<integer>0</integer>
		<key>@MMK_R_Y</key>
		<integer>-65</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-70</integer>
		<key>@MMK_R_h</key>
		<integer>20</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
		<key>@MMK_R_p</key>
		<integer>-20</integer>
		<key>@MMK_R_period</key>
		<integer>10</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
		<key>b</key>
		<integer>0</integer>
		<key>colon</key>
		<integer>10</integer>
		<key>semicolon</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_B</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-10</integer>
		<key>@MMK_R_V</key>
		<integer>-10</integer>
		<key>@MMK_R_Y</key>
		<integer>-20</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-20</integer>
		<key>@MMK_R_n</key>
		<integer>0</integer>
		<key>@MMK_R_o</key>
		<integer>0</integer>
		<key>@MMK_R_p</key>
		<integer>0</integer>
		<key>@MMK_R_period</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>0</integer>
		<key>@MMK_R_z</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_C</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-10</integer>
		<key>@MMK_R_J</key>
		<integer>10</integer>
		<key>@MMK_R_O</key>
		<integer>-5</integer>
		<key>@MMK_R_T</key>
		<integer>0</integer>
		<key>@MMK_R_Y</key>
		<integer>10</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_h</key>
		<integer>10</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-20</integer>
		<key>@MMK_R_n</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>-10</integer>
		<key>@MMK_R_z</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_E</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>10</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_f</key>
		<integer>-10</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_h</key>
		<integer>20</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-10</integer>
		<key>@MMK_R_n</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>-10</integer>
		<key>@MMK_R_z</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-25</integer>
		<key>@MMK_R_J</key>
		<integer>40</integer>
		<key>@MMK_R_O</key>
		<integer>0</integer>
		<key>@MMK_R_T</key>
		<integer>30</integer>
		<key>@MMK_R_V</key>
		<integer>30</integer>
		<key>@MMK_R_X</key>
		<integer>30</integer>
		<key>@MMK_R_Y</key>
		<integer>40</integer>
		<key>@MMK_R_Z</key>
		<integer>15</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_asterisk</key>
		<integer>20</integer>
		<key>@MMK_R_f</key>
		<integer>10</integer>
		<key>@MMK_R_g</key>
		<integer>-40</integer>
		<key>@MMK_R_h</key>
		<integer>20</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-20</integer>
		<key>@MMK_R_n</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-14</integer>
		<key>@MMK_R_p</key>
		<integer>-10</integer>
		<key>@MMK_R_period</key>
		<integer>-100</integer>
		<key>@MMK_R_s</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_G</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_h</key>
		<integer>-10</integer>
		<key>@MMK_R_n</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_p</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_H</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>0</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_g</key>
		<integer>-15</integer>
		<key>@MMK_R_h</key>
		<integer>40</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-30</integer>
		<key>@MMK_R_n</key>
		<integer>0</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_p</key>
		<integer>-20</integer>
		<key>@MMK_R_period</key>
		<integer>-30</integer>
		<key>@MMK_R_s</key>
		<integer>0</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>10</integer>
		<key>@MMK_R_H</key>
		<integer>0</integer>
		<key>@MMK_R_J</key>
		<integer>-20</integer>
		<key>@MMK_R_O</key>
		<integer>-25</integer>
		<key>@MMK_R_T</key>
		<integer>-77</integer>
		<key>@MMK_R_U</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>-62</integer>
		<key>@MMK_R_Y</key>
		<integer>-75</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-90</integer>
		<key>@MMK_R_t</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
		<key>@MMK_R_y</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_M</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-10</integer>
		<key>@MMK_R_Y</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_asterisk</key>
		<integer>0</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-30</integer>
		<key>@MMK_R_n</key>
		<integer>0</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_period</key>
		<integer>10</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_J</key>
		<integer>10</integer>
		<key>@MMK_R_T</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>-30</integer>
		<key>@MMK_R_X</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-45</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-10</integer>
		<key>@MMK_R_g</key>
		<integer>0</integer>
		<key>@MMK_R_j</key>
		<integer>10</integer>
		<key>@MMK_R_n</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_period</key>
		<integer>-30</integer>
		<key>@MMK_R_v</key>
		<integer>20</integer>
		<key>@MMK_R_y</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-60</integer>
		<key>@MMK_R_J</key>
		<integer>10</integer>
		<key>@MMK_R_T</key>
		<integer>10</integer>
		<key>@MMK_R_V</key>
		<integer>-10</integer>
		<key>@MMK_R_X</key>
		<integer>-10</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_asterisk</key>
		<integer>20</integer>
		<key>@MMK_R_f</key>
		<integer>3</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-40</integer>
		<key>@MMK_R_j</key>
		<integer>10</integer>
		<key>@MMK_R_n</key>
		<integer>-8</integer>
		<key>@MMK_R_o</key>
		<integer>-19</integer>
		<key>@MMK_R_p</key>
		<integer>-8</integer>
		<key>@MMK_R_period</key>
		<integer>-150</integer>
		<key>@MMK_R_s</key>
		<integer>-10</integer>
		<key>@MMK_R_t</key>
		<integer>10</integer>
		<key>@MMK_R_u</key>
		<integer>-8</integer>
		<key>@MMK_R_v</key>
		<integer>20</integer>
		<key>@MMK_R_y</key>
		<integer>20</integer>
		<key>@MMK_R_z</key>
		<integer>2</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>-10</integer>
		<key>@MMK_R_U</key>
		<integer>-10</integer>
		<key>@MMK_R_V</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-28</integer>
		<key>@MMK_R_a</key>
		<integer>0</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-20</integer>
		<key>@MMK_R_f</key>
		<integer>-10</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_h</key>
		<integer>0</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-40</integer>
		<key>@MMK_R_n</key>
		<integer>0</integer>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
		<key>@MMK_R_p</key>
		<integer>-20</integer>
		<key>@MMK_R_period</key>
		<integer>20</integer>
		<key>@MMK_R_s</key>
		<integer>0</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>-10</integer>
		<key>@MMK_R_y</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_S</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-10</integer>
		<key>@MMK_R_V</key>
		<integer>0</integer>
		<key>@MMK_R_Y</key>
		<integer>-10</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_h</key>
		<integer>0</integer>
		<key>@MMK_R_j</key>
		<integer>0</integer>
		<key>@MMK_R_n</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_period</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-45</integer>
		<key>@MMK_R_J</key>
		<integer>10</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_S</key>
		<integer>-10</integer>
		<key>@MMK_R_a</key>
		<integer>-60</integer>
		<key>@MMK_R_g</key>
		<integer>-60</integer>
		<key>@MMK_R_h</key>
		<integer>20</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-70</integer>
		<key>@MMK_R_n</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-60</integer>
		<key>@MMK_R_p</key>
		<integer>-60</integer>
		<key>@MMK_R_period</key>
		<integer>-80</integer>
		<key>@MMK_R_s</key>
		<integer>-60</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-60</integer>
		<key>@MMK_R_v</key>
		<integer>-60</integer>
		<key>@MMK_R_y</key>
		<integer>-60</integer>
		<key>@MMK_R_z</key>
		<integer>-60</integer>
		<key>colon</key>
		<integer>-40</integer>
		<key>semicolon</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_U</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-30</integer>
		<key>@MMK_R_n</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_p</key>
		<integer>-10</integer>
		<key>@MMK_R_period</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-43</integer>
		<key>@MMK_R_J</key>
		<integer>10</integer>
		<key>@MMK_R_M</key>
		<integer>-10</integer>
		<key>@MMK_R_O</key>
		<integer>-30</integer>
		<key>@MMK_R_S</key>
		<integer>-10</integer>
		<key>@MMK_R_Y</key>
		<integer>10</integer>
		<key>@MMK_R_a</key>
		<integer>-60</integer>
		<key>@MMK_R_f</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-40</integer>
		<key>@MMK_R_h</key>
		<integer>10</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-60</integer>
		<key>@MMK_R_j</key>
		<integer>-10</integer>
		<key>@MMK_R_n</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-50</integer>
		<key>@MMK_R_p</key>
		<integer>-40</integer>
		<key>@MMK_R_period</key>
		<integer>-70</integer>
		<key>@MMK_R_s</key>
		<integer>-30</integer>
		<key>@MMK_R_t</key>
		<integer>-10</integer>
		<key>@MMK_R_u</key>
		<integer>-40</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
		<key>@MMK_R_y</key>
		<integer>-30</integer>
		<key>@MMK_R_z</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_X</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>0</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_f</key>
		<integer>-10</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-60</integer>
		<key>@MMK_R_n</key>
		<integer>0</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_p</key>
		<integer>-20</integer>
		<key>@MMK_R_period</key>
		<integer>10</integer>
		<key>@MMK_R_s</key>
		<integer>10</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-15</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
		<key>@MMK_R_y</key>
		<integer>-30</integer>
		<key>@MMK_R_z</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-65</integer>
		<key>@MMK_R_J</key>
		<integer>10</integer>
		<key>@MMK_R_M</key>
		<integer>-20</integer>
		<key>@MMK_R_O</key>
		<integer>-45</integer>
		<key>@MMK_R_S</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>10</integer>
		<key>@MMK_R_a</key>
		<integer>-70</integer>
		<key>@MMK_R_asterisk</key>
		<integer>10</integer>
		<key>@MMK_R_f</key>
		<integer>-30</integer>
		<key>@MMK_R_g</key>
		<integer>-80</integer>
		<key>@MMK_R_h</key>
		<integer>10</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-100</integer>
		<key>@MMK_R_l</key>
		<integer>0</integer>
		<key>@MMK_R_n</key>
		<integer>-70</integer>
		<key>@MMK_R_o</key>
		<integer>-70</integer>
		<key>@MMK_R_p</key>
		<integer>-70</integer>
		<key>@MMK_R_period</key>
		<integer>-100</integer>
		<key>@MMK_R_s</key>
		<integer>-50</integer>
		<key>@MMK_R_t</key>
		<integer>-30</integer>
		<key>@MMK_R_u</key>
		<integer>-70</integer>
		<key>@MMK_R_v</key>
		<integer>-60</integer>
		<key>@MMK_R_y</key>
		<integer>-40</integer>
		<key>@MMK_R_z</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_Z</key>
	<dict>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>0</integer>
		<key>@MMK_R_period</key>
		<integer>20</integer>
		<key>@MMK_R_t</key>
		<integer>-10</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_asterisk</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_Y</key>
		<integer>10</integer>
		<key>@MMK_R_a</key>
		<integer>-14</integer>
		<key>@MMK_R_g</key>
		<integer>-80</integer>
		<key>@MMK_R_n</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
		<key>@MMK_R_p</key>
		<integer>-20</integer>
		<key>@MMK_R_period</key>
		<integer>-80</integer>
		<key>@MMK_R_s</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>0</integer>
		<key>questiondown</key>
		<integer>-50</integer>
		<key>space</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_c</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>0</integer>
		<key>@MMK_R_H</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-30</integer>
		<key>@MMK_R_V</key>
		<integer>0</integer>
		<key>@MMK_R_X</key>
		<integer>-10</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_h</key>
		<integer>-10</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-20</integer>
		<key>@MMK_R_j</key>
		<integer>5</integer>
		<key>@MMK_R_o</key>
		<integer>-3</integer>
		<key>@MMK_R_period</key>
		<integer>-10</integer>
		<key>@MMK_R_t</key>
		<integer>5</integer>
		<key>@MMK_R_v</key>
		<integer>-1</integer>
		<key>@MMK_R_y</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_e</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_H</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-60</integer>
		<key>@MMK_R_V</key>
		<integer>0</integer>
		<key>@MMK_R_X</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-60</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_h</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-5</integer>
		<key>@MMK_R_period</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>-6</integer>
	</dict>
	<key>@MMK_L_f</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-10</integer>
		<key>@MMK_R_H</key>
		<integer>40</integer>
		<key>@MMK_R_J</key>
		<integer>80</integer>
		<key>@MMK_R_O</key>
		<integer>30</integer>
		<key>@MMK_R_S</key>
		<integer>40</integer>
		<key>@MMK_R_T</key>
		<integer>80</integer>
		<key>@MMK_R_U</key>
		<integer>80</integer>
		<key>@MMK_R_V</key>
		<integer>80</integer>
		<key>@MMK_R_X</key>
		<integer>80</integer>
		<key>@MMK_R_Y</key>
		<integer>80</integer>
		<key>@MMK_R_Z</key>
		<integer>70</integer>
		<key>@MMK_R_a</key>
		<integer>0</integer>
		<key>@MMK_R_asterisk</key>
		<integer>100</integer>
		<key>@MMK_R_g</key>
		<integer>10</integer>
		<key>@MMK_R_o</key>
		<integer>2</integer>
		<key>@MMK_R_period</key>
		<integer>-30</integer>
		<key>@MMK_R_v</key>
		<integer>30</integer>
		<key>@MMK_R_y</key>
		<integer>40</integer>
		<key>@MMK_R_z</key>
		<integer>20</integer>
		<key>exclam</key>
		<integer>100</integer>
		<key>question</key>
		<integer>100</integer>
	</dict>
	<key>@MMK_L_g</key>
	<dict>
		<key>@MMK_R_H</key>
		<integer>0</integer>
		<key>@MMK_R_J</key>
		<integer>30</integer>
		<key>@MMK_R_M</key>
		<integer>0</integer>
		<key>@MMK_R_O</key>
		<integer>23</integer>
		<key>@MMK_R_T</key>
		<integer>20</integer>
		<key>@MMK_R_V</key>
		<integer>0</integer>
		<key>@MMK_R_X</key>
		<integer>-10</integer>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
		<key>@MMK_R_Z</key>
		<integer>10</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-10</integer>
		<key>@MMK_R_f</key>
		<integer>20</integer>
		<key>@MMK_R_j</key>
		<integer>30</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_t</key>
		<integer>30</integer>
		<key>@MMK_R_v</key>
		<integer>20</integer>
		<key>@MMK_R_y</key>
		<integer>30</integer>
		<key>@MMK_R_z</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_hyphen</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>@MMK_R_H</key>
		<integer>-30</integer>
		<key>@MMK_R_J</key>
		<integer>-30</integer>
		<key>@MMK_R_M</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-70</integer>
		<key>@MMK_R_U</key>
		<integer>-30</integer>
		<key>@MMK_R_V</key>
		<integer>-60</integer>
		<key>@MMK_R_X</key>
		<integer>-60</integer>
		<key>@MMK_R_Y</key>
		<integer>-100</integer>
		<key>@MMK_R_Z</key>
		<integer>-50</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
		<key>space</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_i</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_j</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_l</key>
	<dict>
		<key>@MMK_R_Y</key>
		<integer>-10</integer>
		<key>@MMK_R_f</key>
		<integer>-5</integer>
		<key>@MMK_R_p</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_n</key>
	<dict>
		<key>@MMK_R_H</key>
		<integer>0</integer>
		<key>@MMK_R_J</key>
		<integer>0</integer>
		<key>@MMK_R_S</key>
		<integer>0</integer>
		<key>@MMK_R_T</key>
		<integer>-60</integer>
		<key>@MMK_R_V</key>
		<integer>-40</integer>
		<key>@MMK_R_X</key>
		<integer>-10</integer>
		<key>@MMK_R_Y</key>
		<integer>-70</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-30</integer>
		<key>@MMK_R_f</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>-10</integer>
		<key>@MMK_R_y</key>
		<integer>-10</integer>
		<key>quoteright</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_o</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-15</integer>
		<key>@MMK_R_H</key>
		<integer>-20</integer>
		<key>@MMK_R_J</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-60</integer>
		<key>@MMK_R_V</key>
		<integer>-50</integer>
		<key>@MMK_R_X</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-70</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-20</integer>
		<key>@MMK_R_f</key>
		<integer>-20</integer>
		<key>@MMK_R_period</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-10</integer>
		<key>@MMK_R_y</key>
		<integer>-10</integer>
		<key>quoteright</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_period</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-10</integer>
		<key>@MMK_R_O</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-80</integer>
		<key>@MMK_R_U</key>
		<integer>-10</integer>
		<key>@MMK_R_V</key>
		<integer>-70</integer>
		<key>@MMK_R_X</key>
		<integer>0</integer>
		<key>@MMK_R_Y</key>
		<integer>-100</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-80</integer>
		<key>@MMK_R_f</key>
		<integer>-20</integer>
		<key>@MMK_R_h</key>
		<integer>0</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_p</key>
		<integer>0</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-60</integer>
		<key>@MMK_R_y</key>
		<integer>-40</integer>
		<key>space</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_H</key>
		<integer>-10</integer>
		<key>@MMK_R_J</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-70</integer>
		<key>@MMK_R_V</key>
		<integer>-26</integer>
		<key>@MMK_R_X</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-40</integer>
		<key>@MMK_R_Z</key>
		<integer>-10</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_asterisk</key>
		<integer>20</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_h</key>
		<integer>-20</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-20</integer>
		<key>@MMK_R_j</key>
		<integer>20</integer>
		<key>@MMK_R_o</key>
		<integer>-5</integer>
		<key>@MMK_R_period</key>
		<integer>-60</integer>
		<key>@MMK_R_t</key>
		<integer>20</integer>
		<key>@MMK_R_u</key>
		<integer>10</integer>
		<key>@MMK_R_v</key>
		<integer>0</integer>
		<key>@MMK_R_y</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_s</key>
	<dict>
		<key>@MMK_R_H</key>
		<integer>0</integer>
		<key>@MMK_R_T</key>
		<integer>-60</integer>
		<key>@MMK_R_V</key>
		<integer>-30</integer>
		<key>@MMK_R_X</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
		<key>@MMK_R_period</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_t</key>
	<dict>
		<key>@MMK_R_H</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>-30</integer>
		<key>@MMK_R_V</key>
		<integer>-10</integer>
		<key>@MMK_R_X</key>
		<integer>-10</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
		<key>@MMK_R_asterisk</key>
		<integer>0</integer>
		<key>@MMK_R_g</key>
		<integer>0</integer>
		<key>@MMK_R_o</key>
		<integer>-5</integer>
		<key>@MMK_R_period</key>
		<integer>0</integer>
		<key>@MMK_R_z</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_u</key>
	<dict>
		<key>@MMK_R_H</key>
		<integer>-20</integer>
		<key>@MMK_R_J</key>
		<integer>0</integer>
		<key>@MMK_R_T</key>
		<integer>-60</integer>
		<key>@MMK_R_V</key>
		<integer>-40</integer>
		<key>@MMK_R_X</key>
		<integer>-13</integer>
		<key>@MMK_R_Y</key>
		<integer>-60</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-30</integer>
		<key>@MMK_R_f</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_v</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_H</key>
		<integer>-10</integer>
		<key>@MMK_R_J</key>
		<integer>-10</integer>
		<key>@MMK_R_M</key>
		<integer>0</integer>
		<key>@MMK_R_S</key>
		<integer>0</integer>
		<key>@MMK_R_T</key>
		<integer>-60</integer>
		<key>@MMK_R_V</key>
		<integer>-30</integer>
		<key>@MMK_R_X</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>-60</integer>
		<key>@MMK_R_Z</key>
		<integer>-2</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_asterisk</key>
		<integer>10</integer>
		<key>@MMK_R_g</key>
		<integer>-17</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-30</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_period</key>
		<integer>-60</integer>
		<key>@MMK_R_t</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_x</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>30</integer>
		<key>@MMK_R_T</key>
		<integer>-60</integer>
		<key>@MMK_R_V</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-60</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_asterisk</key>
		<integer>40</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_y</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-60</integer>
		<key>@MMK_R_V</key>
		<integer>-30</integer>
		<key>@MMK_R_X</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>-40</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_period</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_z</key>
	<dict>
		<key>@MMK_R_H</key>
		<integer>0</integer>
		<key>@MMK_R_J</key>
		<integer>0</integer>
		<key>@MMK_R_T</key>
		<integer>-60</integer>
		<key>@MMK_R_V</key>
		<integer>-30</integer>
		<key>@MMK_R_X</key>
		<integer>-10</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
		<key>@MMK_R_g</key>
		<integer>0</integer>
	</dict>
	<key>N</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_h</key>
		<integer>10</integer>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>@MMK_R_H</key>
		<integer>-10</integer>
		<key>@MMK_R_J</key>
		<integer>-20</integer>
	</dict>
	<key>eight.numr</key>
	<dict>
		<key>fraction</key>
		<integer>10</integer>
	</dict>
	<key>exclamdown</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
	</dict>
	<key>five.numr</key>
	<dict>
		<key>fraction</key>
		<integer>-10</integer>
	</dict>
	<key>four.numr</key>
	<dict>
		<key>fraction</key>
		<integer>20</integer>
	</dict>
	<key>fraction</key>
	<dict>
		<key>eight.dnom</key>
		<integer>0</integer>
		<key>five.dnom</key>
		<integer>20</integer>
		<key>four.dnom</key>
		<integer>-30</integer>
		<key>nine.dnom</key>
		<integer>10</integer>
		<key>one.dnom</key>
		<integer>50</integer>
		<key>seven.dnom</key>
		<integer>50</integer>
		<key>six.dnom</key>
		<integer>-30</integer>
		<key>three.dnom</key>
		<integer>50</integer>
		<key>two.dnom</key>
		<integer>20</integer>
	</dict>
	<key>nine.numr</key>
	<dict>
		<key>fraction</key>
		<integer>-40</integer>
	</dict>
	<key>one.numr</key>
	<dict>
		<key>fraction</key>
		<integer>10</integer>
	</dict>
	<key>paragraph</key>
	<dict>
		<key>@MMK_R_o.sups</key>
		<integer>17</integer>
	</dict>
	<key>question</key>
	<dict>
		<key>@MMK_R_asterisk</key>
		<integer>30</integer>
	</dict>
	<key>questiondown</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-10</integer>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>-60</integer>
		<key>@MMK_R_V</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-61</integer>
	</dict>
	<key>seven.numr</key>
	<dict>
		<key>fraction</key>
		<integer>-20</integer>
	</dict>
	<key>six.numr</key>
	<dict>
		<key>fraction</key>
		<integer>10</integer>
	</dict>
	<key>space</key>
	<dict>
		<key>@MMK_R_asterisk</key>
		<integer>-20</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-20</integer>
		<key>@MMK_R_period</key>
		<integer>-20</integer>
	</dict>
	<key>three.numr</key>
	<dict>
		<key>fraction</key>
		<integer>10</integer>
	</dict>
	<key>two.numr</key>
	<dict>
		<key>fraction</key>
		<integer>30</integer>
	</dict>
	<key>zero.numr</key>
	<dict>
		<key>fraction</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
