<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,0,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>8734E88F-DB7D-4567-B20F-3294A5BC2226</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.iota</key>
      <integer>11</integer>
    </dict>
  </dict>
</plist>
