<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Nov 10 17, 10:25</string>
      <string>glyphs.N_ov 10 17, 10_25</string>
    </array>
    <array>
      <string>Nov 10 17, 10:25.background</string>
      <string>glyphs.N_ov 10 17, 10_25.background</string>
    </array>
    <array>
      <string>Bold Oct 31 16, 11:26</string>
      <string>glyphs.B_old O_ct 31 16, 11_26</string>
    </array>
    <array>
      <string>Bold Oct 31 16, 11:26.background</string>
      <string>glyphs.B_old O_ct 31 16, 11_26.background</string>
    </array>
    <array>
      <string>Nov 8 17, 19:58</string>
      <string>glyphs.N_ov 8 17, 19_58</string>
    </array>
    <array>
      <string>Nov 8 17, 20:09</string>
      <string>glyphs.N_ov 8 17, 20_09</string>
    </array>
    <array>
      <string>Nov 8 17, 20:09.background</string>
      <string>glyphs.N_ov 8 17, 20_09.background</string>
    </array>
    <array>
      <string>Nov 8 17, 20:10</string>
      <string>glyphs.N_ov 8 17, 20_10</string>
    </array>
    <array>
      <string>Nov 8 17, 20:10.background</string>
      <string>glyphs.N_ov 8 17, 20_10.background</string>
    </array>
    <array>
      <string>Nov 10 17, 12:29</string>
      <string>glyphs.N_ov 10 17, 12_29</string>
    </array>
    <array>
      <string>Nov 16 16, 09:54</string>
      <string>glyphs.N_ov 16 16, 09_54</string>
    </array>
    <array>
      <string>Nov 16 16, 09:54.background</string>
      <string>glyphs.N_ov 16 16, 09_54.background</string>
    </array>
    <array>
      <string>Bold Sep 24 12, 14:39</string>
      <string>glyphs.B_old S_ep 24 12, 14_39</string>
    </array>
    <array>
      <string>Bold Sep 24 12, 14:39.background</string>
      <string>glyphs.B_old S_ep 24 12, 14_39.background</string>
    </array>
    <array>
      <string>Dec 1 16, 15:59</string>
      <string>glyphs.D_ec 1 16, 15_59</string>
    </array>
    <array>
      <string>Dec 1 16, 15:59.background</string>
      <string>glyphs.D_ec 1 16, 15_59.background</string>
    </array>
    <array>
      <string>Dec 1 16, 16:14</string>
      <string>glyphs.D_ec 1 16, 16_14</string>
    </array>
    <array>
      <string>Dec 1 16, 16:14.background</string>
      <string>glyphs.D_ec 1 16, 16_14.background</string>
    </array>
    <array>
      <string>Dec 1 16, 16:16</string>
      <string>glyphs.D_ec 1 16, 16_16</string>
    </array>
    <array>
      <string>Dec 1 16, 16:16.background</string>
      <string>glyphs.D_ec 1 16, 16_16.background</string>
    </array>
    <array>
      <string>Dec 12 16, 09:49</string>
      <string>glyphs.D_ec 12 16, 09_49</string>
    </array>
    <array>
      <string>Dec 12 16, 09:49.background</string>
      <string>glyphs.D_ec 12 16, 09_49.background</string>
    </array>
    <array>
      <string>Dec 12 16, 14:28</string>
      <string>glyphs.D_ec 12 16, 14_28</string>
    </array>
    <array>
      <string>Dec 12 16, 14:28.background</string>
      <string>glyphs.D_ec 12 16, 14_28.background</string>
    </array>
    <array>
      <string>Dec 1 16, 17:10</string>
      <string>glyphs.D_ec 1 16, 17_10</string>
    </array>
    <array>
      <string>Dec 12 16, 09:45</string>
      <string>glyphs.D_ec 12 16, 09_45</string>
    </array>
    <array>
      <string>Dec 12 16, 09:45.background</string>
      <string>glyphs.D_ec 12 16, 09_45.background</string>
    </array>
    <array>
      <string>Dec 1 16, 11:55</string>
      <string>glyphs.D_ec 1 16, 11_55</string>
    </array>
    <array>
      <string>Dec 1 16, 11:55.background</string>
      <string>glyphs.D_ec 1 16, 11_55.background</string>
    </array>
    <array>
      <string>Dec 1 16, 15:44</string>
      <string>glyphs.D_ec 1 16, 15_44</string>
    </array>
    <array>
      <string>Dec 1 16, 15:44.background</string>
      <string>glyphs.D_ec 1 16, 15_44.background</string>
    </array>
    <array>
      <string>Dec 1 16, 10:42</string>
      <string>glyphs.D_ec 1 16, 10_42</string>
    </array>
    <array>
      <string>Dec 1 16, 10:42.background</string>
      <string>glyphs.D_ec 1 16, 10_42.background</string>
    </array>
    <array>
      <string>Dec 1 16, 10:48</string>
      <string>glyphs.D_ec 1 16, 10_48</string>
    </array>
    <array>
      <string>Dec 1 16, 10:31</string>
      <string>glyphs.D_ec 1 16, 10_31</string>
    </array>
    <array>
      <string>Feb 2 17, 12:02</string>
      <string>glyphs.F_eb 2 17, 12_02</string>
    </array>
    <array>
      <string>Feb 2 17, 12:02.background</string>
      <string>glyphs.F_eb 2 17, 12_02.background</string>
    </array>
    <array>
      <string>Feb 1 17, 16:33</string>
      <string>glyphs.F_eb 1 17, 16_33</string>
    </array>
    <array>
      <string>Feb 1 17, 16:33.background</string>
      <string>glyphs.F_eb 1 17, 16_33.background</string>
    </array>
    <array>
      <string>Feb 1 17, 16:38</string>
      <string>glyphs.F_eb 1 17, 16_38</string>
    </array>
    <array>
      <string>Feb 1 17, 16:38.background</string>
      <string>glyphs.F_eb 1 17, 16_38.background</string>
    </array>
    <array>
      <string>Mar 10 17, 19:42</string>
      <string>glyphs.M_ar 10 17, 19_42</string>
    </array>
    <array>
      <string>Mar 10 17, 19:42.background</string>
      <string>glyphs.M_ar 10 17, 19_42.background</string>
    </array>
    <array>
      <string>Mar 10 17, 19:47</string>
      <string>glyphs.M_ar 10 17, 19_47</string>
    </array>
    <array>
      <string>Mar 10 17, 19:47.background</string>
      <string>glyphs.M_ar 10 17, 19_47.background</string>
    </array>
    <array>
      <string>Feb 1 17, 18:18</string>
      <string>glyphs.F_eb 1 17, 18_18</string>
    </array>
    <array>
      <string>bubble</string>
      <string>glyphs.bubble</string>
    </array>
    <array>
      <string>Dec 21 16, 11:32</string>
      <string>glyphs.D_ec 21 16, 11_32</string>
    </array>
    <array>
      <string>Dec 21 16, 11:32.background</string>
      <string>glyphs.D_ec 21 16, 11_32.background</string>
    </array>
    <array>
      <string>Dec 20 16, 18:13</string>
      <string>glyphs.D_ec 20 16, 18_13</string>
    </array>
    <array>
      <string>Dec 20 16, 18:13.background</string>
      <string>glyphs.D_ec 20 16, 18_13.background</string>
    </array>
    <array>
      <string>Dec 12 16, 16:42</string>
      <string>glyphs.D_ec 12 16, 16_42</string>
    </array>
    <array>
      <string>Dec 12 16, 16:42.background</string>
      <string>glyphs.D_ec 12 16, 16_42.background</string>
    </array>
    <array>
      <string>Dec 20 16, 18:55</string>
      <string>glyphs.D_ec 20 16, 18_55</string>
    </array>
    <array>
      <string>Dec 20 16, 18:55.background</string>
      <string>glyphs.D_ec 20 16, 18_55.background</string>
    </array>
    <array>
      <string>Dec 13 16, 19:11</string>
      <string>glyphs.D_ec 13 16, 19_11</string>
    </array>
    <array>
      <string>Dec 13 16, 19:11.background</string>
      <string>glyphs.D_ec 13 16, 19_11.background</string>
    </array>
    <array>
      <string>Dec 13 16, 11:03</string>
      <string>glyphs.D_ec 13 16, 11_03</string>
    </array>
    <array>
      <string>Dec 13 16, 11:03.background</string>
      <string>glyphs.D_ec 13 16, 11_03.background</string>
    </array>
    <array>
      <string>Dec 13 16, 11:30</string>
      <string>glyphs.D_ec 13 16, 11_30</string>
    </array>
    <array>
      <string>Feb 3 17, 16:07</string>
      <string>glyphs.F_eb 3 17, 16_07</string>
    </array>
    <array>
      <string>Feb 3 17, 16:07.background</string>
      <string>glyphs.F_eb 3 17, 16_07.background</string>
    </array>
    <array>
      <string>Feb 6 17, 13:24</string>
      <string>glyphs.F_eb 6 17, 13_24</string>
    </array>
    <array>
      <string>Feb 3 17, 19:20</string>
      <string>glyphs.F_eb 3 17, 19_20</string>
    </array>
    <array>
      <string>Feb 3 17, 19:20.background</string>
      <string>glyphs.F_eb 3 17, 19_20.background</string>
    </array>
    <array>
      <string>Feb 3 17, 16:45</string>
      <string>glyphs.F_eb 3 17, 16_45</string>
    </array>
    <array>
      <string>Feb 3 17, 16:45.background</string>
      <string>glyphs.F_eb 3 17, 16_45.background</string>
    </array>
    <array>
      <string>Feb 3 17, 16:48</string>
      <string>glyphs.F_eb 3 17, 16_48</string>
    </array>
    <array>
      <string>Feb 3 17, 16:48.background</string>
      <string>glyphs.F_eb 3 17, 16_48.background</string>
    </array>
    <array>
      <string>Mar 28 17, 11:44</string>
      <string>glyphs.M_ar 28 17, 11_44</string>
    </array>
    <array>
      <string>Mar 28 17, 11:44.background</string>
      <string>glyphs.M_ar 28 17, 11_44.background</string>
    </array>
    <array>
      <string>Bold Oct 29 16, 17:34</string>
      <string>glyphs.B_old O_ct 29 16, 17_34</string>
    </array>
    <array>
      <string>Bold Oct 29 16, 17:34.background</string>
      <string>glyphs.B_old O_ct 29 16, 17_34.background</string>
    </array>
    <array>
      <string>Dec 12 16, 09:58</string>
      <string>glyphs.D_ec 12 16, 09_58</string>
    </array>
    <array>
      <string>Dec 12 16, 09:58.background</string>
      <string>glyphs.D_ec 12 16, 09_58.background</string>
    </array>
    <array>
      <string>Bold Nov 15 16, 20:32</string>
      <string>glyphs.B_old N_ov 15 16, 20_32</string>
    </array>
    <array>
      <string>Bold Nov 15 16, 20:32.background</string>
      <string>glyphs.B_old N_ov 15 16, 20_32.background</string>
    </array>
    <array>
      <string>Bold Nov 15 16, 20:34</string>
      <string>glyphs.B_old N_ov 15 16, 20_34</string>
    </array>
    <array>
      <string>Bold Nov 15 16, 20:34.background</string>
      <string>glyphs.B_old N_ov 15 16, 20_34.background</string>
    </array>
    <array>
      <string>Nov 22 16, 16:43</string>
      <string>glyphs.N_ov 22 16, 16_43</string>
    </array>
    <array>
      <string>Nov 22 16, 16:43.background</string>
      <string>glyphs.N_ov 22 16, 16_43.background</string>
    </array>
    <array>
      <string>Apr 11 17, 17:54</string>
      <string>glyphs.A_pr 11 17, 17_54</string>
    </array>
    <array>
      <string>Apr 11 17, 17:54.background</string>
      <string>glyphs.A_pr 11 17, 17_54.background</string>
    </array>
    <array>
      <string>Nov 16 16, 10:09</string>
      <string>glyphs.N_ov 16 16, 10_09</string>
    </array>
    <array>
      <string>Nov 16 16, 10:09.background</string>
      <string>glyphs.N_ov 16 16, 10_09.background</string>
    </array>
    <array>
      <string>Nov 22 16, 16:59</string>
      <string>glyphs.N_ov 22 16, 16_59</string>
    </array>
    <array>
      <string>Nov 22 16, 16:59.background</string>
      <string>glyphs.N_ov 22 16, 16_59.background</string>
    </array>
    <array>
      <string>Nov 16 16, 20:19</string>
      <string>glyphs.N_ov 16 16, 20_19</string>
    </array>
    <array>
      <string>Nov 16 16, 20:19.background</string>
      <string>glyphs.N_ov 16 16, 20_19.background</string>
    </array>
    <array>
      <string>Nov 22 16, 17:37</string>
      <string>glyphs.N_ov 22 16, 17_37</string>
    </array>
    <array>
      <string>Nov 22 16, 17:37.background</string>
      <string>glyphs.N_ov 22 16, 17_37.background</string>
    </array>
    <array>
      <string>Nov 22 16, 17:54</string>
      <string>glyphs.N_ov 22 16, 17_54</string>
    </array>
    <array>
      <string>Nov 22 16, 17:54.background</string>
      <string>glyphs.N_ov 22 16, 17_54.background</string>
    </array>
    <array>
      <string>Nov 22 16, 17:55 PANOS</string>
      <string>glyphs.N_ov 22 16, 17_55 P_A_N_O_S_</string>
    </array>
    <array>
      <string>Nov 22 16, 17:55 PANOS.background</string>
      <string>glyphs.N_ov 22 16, 17_55 P_A_N_O_S_.background</string>
    </array>
    <array>
      <string>Nov 16 16, 12:23</string>
      <string>glyphs.N_ov 16 16, 12_23</string>
    </array>
    <array>
      <string>Nov 16 16, 12:23.background</string>
      <string>glyphs.N_ov 16 16, 12_23.background</string>
    </array>
    <array>
      <string>Bold Oct 28 16, 17:13</string>
      <string>glyphs.B_old O_ct 28 16, 17_13</string>
    </array>
    <array>
      <string>Bold Oct 28 16, 17:13.background</string>
      <string>glyphs.B_old O_ct 28 16, 17_13.background</string>
    </array>
    <array>
      <string>Bold Oct 28 16, 17:27</string>
      <string>glyphs.B_old O_ct 28 16, 17_27</string>
    </array>
    <array>
      <string>Bold Oct 28 16, 17:27.background</string>
      <string>glyphs.B_old O_ct 28 16, 17_27.background</string>
    </array>
    <array>
      <string>Nov 16 16, 12:37</string>
      <string>glyphs.N_ov 16 16, 12_37</string>
    </array>
    <array>
      <string>Nov 16 16, 12:37.background</string>
      <string>glyphs.N_ov 16 16, 12_37.background</string>
    </array>
    <array>
      <string>Nov 16 16, 16:48</string>
      <string>glyphs.N_ov 16 16, 16_48</string>
    </array>
    <array>
      <string>Nov 16 16, 16:48.background</string>
      <string>glyphs.N_ov 16 16, 16_48.background</string>
    </array>
    <array>
      <string>Nov 22 16, 18:00 PANOS</string>
      <string>glyphs.N_ov 22 16, 18_00 P_A_N_O_S_</string>
    </array>
    <array>
      <string>Nov 22 16, 18:00 PANOS.background</string>
      <string>glyphs.N_ov 22 16, 18_00 P_A_N_O_S_.background</string>
    </array>
    <array>
      <string>Bold Oct 28 16, 17:37</string>
      <string>glyphs.B_old O_ct 28 16, 17_37</string>
    </array>
    <array>
      <string>Bold Oct 28 16, 17:37.background</string>
      <string>glyphs.B_old O_ct 28 16, 17_37.background</string>
    </array>
    <array>
      <string>Bold Oct 28 16, 17:50</string>
      <string>glyphs.B_old O_ct 28 16, 17_50</string>
    </array>
    <array>
      <string>Bold Oct 28 16, 17:50.background</string>
      <string>glyphs.B_old O_ct 28 16, 17_50.background</string>
    </array>
    <array>
      <string>Nov 22 16, 18:05</string>
      <string>glyphs.N_ov 22 16, 18_05</string>
    </array>
    <array>
      <string>Nov 22 16, 18:05.background</string>
      <string>glyphs.N_ov 22 16, 18_05.background</string>
    </array>
    <array>
      <string>Nov 22 16, 18:10</string>
      <string>glyphs.N_ov 22 16, 18_10</string>
    </array>
    <array>
      <string>Nov 22 16, 18:10.background</string>
      <string>glyphs.N_ov 22 16, 18_10.background</string>
    </array>
    <array>
      <string>Nov 22 16, 18:12</string>
      <string>glyphs.N_ov 22 16, 18_12</string>
    </array>
    <array>
      <string>Nov 22 16, 18:12.background</string>
      <string>glyphs.N_ov 22 16, 18_12.background</string>
    </array>
    <array>
      <string>Nov 22 16, 18:14</string>
      <string>glyphs.N_ov 22 16, 18_14</string>
    </array>
    <array>
      <string>Nov 22 16, 18:14.background</string>
      <string>glyphs.N_ov 22 16, 18_14.background</string>
    </array>
    <array>
      <string>Nov 22 16, 18:15</string>
      <string>glyphs.N_ov 22 16, 18_15</string>
    </array>
    <array>
      <string>Nov 22 16, 18:15.background</string>
      <string>glyphs.N_ov 22 16, 18_15.background</string>
    </array>
    <array>
      <string>Nov 16 16, 17:15</string>
      <string>glyphs.N_ov 16 16, 17_15</string>
    </array>
    <array>
      <string>Nov 16 16, 17:15.background</string>
      <string>glyphs.N_ov 16 16, 17_15.background</string>
    </array>
    <array>
      <string>Nov 16 16, 17:17</string>
      <string>glyphs.N_ov 16 16, 17_17</string>
    </array>
    <array>
      <string>Nov 16 16, 17:17.background</string>
      <string>glyphs.N_ov 16 16, 17_17.background</string>
    </array>
    <array>
      <string>Nov 16 16, 17:56</string>
      <string>glyphs.N_ov 16 16, 17_56</string>
    </array>
    <array>
      <string>Nov 16 16, 17:56.background</string>
      <string>glyphs.N_ov 16 16, 17_56.background</string>
    </array>
    <array>
      <string>Nov 16 16, 18:03</string>
      <string>glyphs.N_ov 16 16, 18_03</string>
    </array>
    <array>
      <string>Nov 16 16, 18:03.background</string>
      <string>glyphs.N_ov 16 16, 18_03.background</string>
    </array>
    <array>
      <string>Nov 16 16, 18:07</string>
      <string>glyphs.N_ov 16 16, 18_07</string>
    </array>
    <array>
      <string>Nov 16 16, 18:07.background</string>
      <string>glyphs.N_ov 16 16, 18_07.background</string>
    </array>
    <array>
      <string>Nov 22 16, 18:17</string>
      <string>glyphs.N_ov 22 16, 18_17</string>
    </array>
    <array>
      <string>Nov 22 16, 18:17.background</string>
      <string>glyphs.N_ov 22 16, 18_17.background</string>
    </array>
    <array>
      <string>Nov 22 16, 18:18</string>
      <string>glyphs.N_ov 22 16, 18_18</string>
    </array>
    <array>
      <string>Nov 22 16, 18:18.background</string>
      <string>glyphs.N_ov 22 16, 18_18.background</string>
    </array>
    <array>
      <string>Nov 16 16, 11:52</string>
      <string>glyphs.N_ov 16 16, 11_52</string>
    </array>
    <array>
      <string>Nov 16 16, 11:52.background</string>
      <string>glyphs.N_ov 16 16, 11_52.background</string>
    </array>
    <array>
      <string>Nov 16 16, 12:05</string>
      <string>glyphs.N_ov 16 16, 12_05</string>
    </array>
    <array>
      <string>Nov 16 16, 12:05.background</string>
      <string>glyphs.N_ov 16 16, 12_05.background</string>
    </array>
    <array>
      <string>Nov 16 16, 12:07</string>
      <string>glyphs.N_ov 16 16, 12_07</string>
    </array>
    <array>
      <string>Nov 16 16, 12:07.background</string>
      <string>glyphs.N_ov 16 16, 12_07.background</string>
    </array>
    <array>
      <string>Nov 16 16, 12:09</string>
      <string>glyphs.N_ov 16 16, 12_09</string>
    </array>
    <array>
      <string>Nov 16 16, 12:09.background</string>
      <string>glyphs.N_ov 16 16, 12_09.background</string>
    </array>
    <array>
      <string>Nov 22 16, 18:22</string>
      <string>glyphs.N_ov 22 16, 18_22</string>
    </array>
    <array>
      <string>Nov 22 16, 18:22.background</string>
      <string>glyphs.N_ov 22 16, 18_22.background</string>
    </array>
    <array>
      <string>Nov 23 16, 12:08</string>
      <string>glyphs.N_ov 23 16, 12_08</string>
    </array>
    <array>
      <string>Nov 23 16, 12:08.background</string>
      <string>glyphs.N_ov 23 16, 12_08.background</string>
    </array>
    <array>
      <string>Bold Nov 5 16, 11:34</string>
      <string>glyphs.B_old N_ov 5 16, 11_34</string>
    </array>
    <array>
      <string>Bold Nov 5 16, 17:42</string>
      <string>glyphs.B_old N_ov 5 16, 17_42</string>
    </array>
    <array>
      <string>Bold Nov 5 16, 15:14</string>
      <string>glyphs.B_old N_ov 5 16, 15_14</string>
    </array>
    <array>
      <string>Bold Nov 5 16, 15:14.background</string>
      <string>glyphs.B_old N_ov 5 16, 15_14.background</string>
    </array>
    <array>
      <string>Bold Nov 5 16, 17:46</string>
      <string>glyphs.B_old N_ov 5 16, 17_46</string>
    </array>
    <array>
      <string>Bold Nov 5 16, 17:46.background</string>
      <string>glyphs.B_old N_ov 5 16, 17_46.background</string>
    </array>
    <array>
      <string>Bold Nov 5 16, 17:39</string>
      <string>glyphs.B_old N_ov 5 16, 17_39</string>
    </array>
    <array>
      <string>Bold Nov 5 16, 17:39.background</string>
      <string>glyphs.B_old N_ov 5 16, 17_39.background</string>
    </array>
    <array>
      <string>Bold Nov 5 16, 16:10</string>
      <string>glyphs.B_old N_ov 5 16, 16_10</string>
    </array>
    <array>
      <string>Bold Nov 5 16, 17:34</string>
      <string>glyphs.B_old N_ov 5 16, 17_34</string>
    </array>
    <array>
      <string>Bold Nov 5 16, 17:34.background</string>
      <string>glyphs.B_old N_ov 5 16, 17_34.background</string>
    </array>
    <array>
      <string>Bold Nov 4 16, 10:59</string>
      <string>glyphs.B_old N_ov 4 16, 10_59</string>
    </array>
    <array>
      <string>Bold Nov 4 16, 10:59.background</string>
      <string>glyphs.B_old N_ov 4 16, 10_59.background</string>
    </array>
    <array>
      <string>Nov 24 16, 17:15</string>
      <string>glyphs.N_ov 24 16, 17_15</string>
    </array>
    <array>
      <string>Nov 24 16, 17:15.background</string>
      <string>glyphs.N_ov 24 16, 17_15.background</string>
    </array>
    <array>
      <string>Dec 1 16, 16:40</string>
      <string>glyphs.D_ec 1 16, 16_40</string>
    </array>
  </array>
</plist>
