<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>35E4E591-8BA1-4D08-B002-76BBD14C60E1</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.kappa</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
