<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>8879C475-5F41-4EA4-B91E-AEC3D6C45638</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Sha-cy</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
