<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>BF7DBA7C-EA78-49C2-BABF-AAE9AAED7B90</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.sigmafinal</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
