<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>0AD4E451-DE2E-49F2-85A4-70876AD22009</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ruble</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
