<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,1,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>06F0B00B-6010-46AB-833A-FB8D3D658A8B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.E-cy</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
