<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>59769115-A681-4F81-BAF0-C12449BD5762</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.V</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.v.sc</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
