<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0.75,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>FEAF9D34-0C16-49D8-B059-7A4CC408C183</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.KaiSymbol</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
