<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>CA475494-7868-41F0-84EC-52D0236CEF8F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.lambda</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
