<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E8A5E7D8-16B7-4635-A416-483816CFD93E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.beta</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
