<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>6BEEA6D3-7F7F-42F9-B6D4-C33B69D52EDD</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.KaiSymbol</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
