<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,0.25,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>3F0FC2E5-903B-4C74-91B4-D4DC01A98ABF</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Upsilon</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
