<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0.75,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9882E062-9948-4750-80E9-06A941894236</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.v</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
