<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>A22E5C41-A26C-4D03-81AE-2387627B852C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.iota</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
