<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>2B908081-E3C8-488B-AC04-DCB8D60C968B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ve-cy</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
