<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>DC9B5DBD-D01C-4381-9CC7-8AC429FF5F4B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Sigma</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
