<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,0,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F0AE6031-7CA9-4060-BF3F-92A50BB887F0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.question.sc</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
