<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0.75,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>8DAC91E8-5B74-48B6-AB73-E6EE2B9CF97D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Izhitsa-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
