<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>700</integer>
    <key>capHeight</key>
    <integer>641</integer>
    <key>copyright</key>
    <string>Copyright 2013 The Alegreya Sans Project Authors (https://github.com/huertatipografica/Alegreya-Sans)</string>
    <key>descender</key>
    <integer>-185</integer>
    <key>familyName</key>
    <string>Alegreya Sans</string>
    <key>guidelines</key>
    <array/>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2017/10/23 13:33:45</string>
    <key>openTypeHheaAscender</key>
    <integer>800</integer>
    <key>openTypeHheaDescender</key>
    <integer>-200</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Juan Pablo del Peral</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://www.huertatipografica.com.ar</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Huerta Tipografica</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://www.huertatipografica.com.ar</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>800</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-200</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>200</integer>
    <key>openTypeOS2VendorID</key>
    <string>HT</string>
    <key>openTypeOS2WinAscent</key>
    <integer>1126</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>312</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-12</integer>
      <integer>0</integer>
      <integer>459</integer>
      <integer>471</integer>
      <integer>499</integer>
      <integer>511</integer>
      <integer>586</integer>
      <integer>598</integer>
      <integer>641</integer>
      <integer>653</integer>
      <integer>700</integer>
      <integer>712</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-197</integer>
      <integer>-185</integer>
      <integer>-101</integer>
      <integer>-89</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>59</integer>
      <integer>68</integer>
      <integer>71</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>78</integer>
      <integer>82</integer>
      <integer>88</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-181</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>47</integer>
    <key>styleName</key>
    <string>Regular</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>2</integer>
    <key>versionMinor</key>
    <integer>8</integer>
    <key>xHeight</key>
    <integer>459</integer>
  </dict>
</plist>
