<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>0BD2E345-0B23-4229-AD2E-401C504C0947</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.pi</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
