<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>52FE58FA-B8CA-417A-AD28-C7D141B85005</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ezh</key>
      <integer>13</integer>
    </dict>
  </dict>
</plist>
