<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>BAE5C7BE-3B06-46FA-B281-9B6A863D369A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ge-cy</key>
      <integer>12</integer>
    </dict>
  </dict>
</plist>
