<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>4ED82B21-7DEF-412E-BC6A-4BBDB75AEDC1</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ezh</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
