<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,0.25,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7694ECF3-F24C-49D9-9763-E5F1E4DE83A7</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.gstroke</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
