<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>FA54E760-9D89-4160-887C-03B8904A2FE1</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight.lf</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
