<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7C6A537C-FA48-46F9-AC0E-0BAB09ADA569</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.beta</key>
      <integer>10</integer>
    </dict>
  </dict>
</plist>
