<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,0,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>961C8255-9960-44D4-BB82-3DBDE95FDB8C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.sigma</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
