<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,1,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>41A32907-21CB-4256-8B17-E78F03F4C71F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.omega</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
