<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E15CD4CE-12C9-4D5C-8151-F9CD141C3336</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.omicron</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
