<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>1A38F8A9-F18C-40D8-8B2F-3EA279D9EF1C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.pi</key>
      <integer>11</integer>
    </dict>
  </dict>
</plist>
