<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>45EAA10C-30D8-4104-9073-C964113289F8</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.G</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.g.sc</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
