<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>0731E0C4-3E8E-410A-B09B-12B2E37E3DF4</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.sigma</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
