<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7E186AF9-6E5A-4716-AFC7-E20E9DAF5605</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ghestroke-cy</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
