<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C2FCB4B8-45CE-42D3-853E-05273DF05D6F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.lambda</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
