<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>5FA50D4F-0645-411A-9627-E322D50F59F6</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.kadescender-cy</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
