<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>E1C66D38-CC31-43DE-BA68-9D787E0E2CBB</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>com.schriftgestaltung.weight</key>
	<string>Bold</string>
	<key>com.schriftgestaltung.weightValue</key>
	<real>174</real>
	<key>com.schriftgestaltung.widthValue</key>
	<real>100</real>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Abreveacute</string>
		<string>Abrevedotbelow</string>
		<string>Abrevegrave</string>
		<string>Abrevehookabove</string>
		<string>Abrevetilde</string>
		<string>Acaron</string>
		<string>Acircumflex</string>
		<string>Acircumflexacute</string>
		<string>Acircumflexdotbelow</string>
		<string>Acircumflexgrave</string>
		<string>Acircumflexhookabove</string>
		<string>Acircumflextilde</string>
		<string>Adieresis</string>
		<string>Adotbelow</string>
		<string>Agrave</string>
		<string>Ahookabove</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Aringacute</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>AEacute</string>
		<string>B</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Ecircumflexacute</string>
		<string>Ecircumflexdotbelow</string>
		<string>Ecircumflexgrave</string>
		<string>Ecircumflexhookabove</string>
		<string>Ecircumflextilde</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Edotbelow</string>
		<string>Egrave</string>
		<string>Ehookabove</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>Etilde</string>
		<string>F</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>H</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icaron</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Idotbelow</string>
		<string>Igrave</string>
		<string>Ihookabove</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Eng</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocaron</string>
		<string>Ocircumflex</string>
		<string>Ocircumflexacute</string>
		<string>Ocircumflexdotbelow</string>
		<string>Ocircumflexgrave</string>
		<string>Ocircumflexhookabove</string>
		<string>Ocircumflextilde</string>
		<string>Odieresis</string>
		<string>Odotbelow</string>
		<string>Ograve</string>
		<string>Ohookabove</string>
		<string>Ohorn</string>
		<string>Ohornacute</string>
		<string>Ohorndotbelow</string>
		<string>Ohorngrave</string>
		<string>Ohornhookabove</string>
		<string>Ohorntilde</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oogonek</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
		<string>uni1E9E</string>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>uni021A</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucaron</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Udieresisacute</string>
		<string>Udieresiscaron</string>
		<string>Udieresisgrave</string>
		<string>Udieresismacron</string>
		<string>Udotbelow</string>
		<string>Ugrave</string>
		<string>Uhookabove</string>
		<string>Uhorn</string>
		<string>Uhornacute</string>
		<string>Uhorndotbelow</string>
		<string>Uhorngrave</string>
		<string>Uhornhookabove</string>
		<string>Uhorntilde</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ydotbelow</string>
		<string>Ygrave</string>
		<string>Yhookabove</string>
		<string>Ytilde</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>Iacute_J.loclNLD</string>
		<string>Q.corta</string>
		<string>C.ss01</string>
		<string>D.ss01</string>
		<string>I.ss01</string>
		<string>L.ss01</string>
		<string>M.ss01</string>
		<string>V.ss01</string>
		<string>X.ss01</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>abreveacute</string>
		<string>abrevedotbelow</string>
		<string>abrevegrave</string>
		<string>abrevehookabove</string>
		<string>abrevetilde</string>
		<string>acaron</string>
		<string>acircumflex</string>
		<string>acircumflexacute</string>
		<string>acircumflexdotbelow</string>
		<string>acircumflexgrave</string>
		<string>acircumflexhookabove</string>
		<string>acircumflextilde</string>
		<string>adieresis</string>
		<string>adotbelow</string>
		<string>agrave</string>
		<string>ahookabove</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>aringacute</string>
		<string>atilde</string>
		<string>ae</string>
		<string>aeacute</string>
		<string>b</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>ecircumflexacute</string>
		<string>ecircumflexdotbelow</string>
		<string>ecircumflexgrave</string>
		<string>ecircumflexhookabove</string>
		<string>ecircumflextilde</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>edotbelow</string>
		<string>egrave</string>
		<string>ehookabove</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>etilde</string>
		<string>f</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>h</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icaron</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>i.loclTRK</string>
		<string>idotbelow</string>
		<string>igrave</string>
		<string>ihookabove</string>
		<string>ij</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>j</string>
		<string>dotlessj</string>
		<string>jcircumflex</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>lslash</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>eng</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocaron</string>
		<string>ocircumflex</string>
		<string>ocircumflexacute</string>
		<string>ocircumflexdotbelow</string>
		<string>ocircumflexgrave</string>
		<string>ocircumflexhookabove</string>
		<string>ocircumflextilde</string>
		<string>odieresis</string>
		<string>odotbelow</string>
		<string>ograve</string>
		<string>ohookabove</string>
		<string>ohorn</string>
		<string>ohornacute</string>
		<string>ohorndotbelow</string>
		<string>ohorngrave</string>
		<string>ohornhookabove</string>
		<string>ohorntilde</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oogonek</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
		<string>germandbls</string>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>uni021B</string>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucaron</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>udieresisacute</string>
		<string>udieresiscaron</string>
		<string>udieresisgrave</string>
		<string>udieresismacron</string>
		<string>udotbelow</string>
		<string>ugrave</string>
		<string>uhookabove</string>
		<string>uhorn</string>
		<string>uhornacute</string>
		<string>uhorndotbelow</string>
		<string>uhorngrave</string>
		<string>uhornhookabove</string>
		<string>uhorntilde</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ydotbelow</string>
		<string>ygrave</string>
		<string>yhookabove</string>
		<string>ytilde</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>germandbls.calt</string>
		<string>f.f</string>
		<string>iacute_j.loclNLD</string>
		<string>f.l</string>
		<string>a.sups</string>
		<string>b.sups</string>
		<string>c.sups</string>
		<string>d.sups</string>
		<string>e.sups</string>
		<string>f.sups</string>
		<string>g.sups</string>
		<string>h.sups</string>
		<string>i.sups</string>
		<string>j.sups</string>
		<string>k.sups</string>
		<string>l.sups</string>
		<string>m.sups</string>
		<string>n.sups</string>
		<string>o.sups</string>
		<string>p.sups</string>
		<string>q.sups</string>
		<string>r.sups</string>
		<string>s.sups</string>
		<string>t.sups</string>
		<string>u.sups</string>
		<string>v.sups</string>
		<string>w.sups</string>
		<string>x.sups</string>
		<string>y.sups</string>
		<string>z.sups</string>
		<string>f.t</string>
		<string>uni0066006A</string>
		<string>fi</string>
		<string>fl</string>
		<string>dotlessi.sc</string>
		<string>dotlessj.sc</string>
		<string>kgreenlandic.sc</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>Delta</string>
		<string>Omega</string>
		<string>mu</string>
		<string>pi</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>zero.lf</string>
		<string>one.lf</string>
		<string>two.lf</string>
		<string>three.lf</string>
		<string>four.lf</string>
		<string>five.lf</string>
		<string>six.lf</string>
		<string>seven.lf</string>
		<string>eight.lf</string>
		<string>nine.lf</string>
		<string>zero.sinf</string>
		<string>one.sinf</string>
		<string>two.sinf</string>
		<string>three.sinf</string>
		<string>four.sinf</string>
		<string>five.sinf</string>
		<string>six.sinf</string>
		<string>seven.sinf</string>
		<string>eight.sinf</string>
		<string>nine.sinf</string>
		<string>zero.tf</string>
		<string>one.tf</string>
		<string>two.tf</string>
		<string>three.tf</string>
		<string>four.tf</string>
		<string>five.tf</string>
		<string>six.tf</string>
		<string>seven.tf</string>
		<string>eight.tf</string>
		<string>nine.tf</string>
		<string>zero.tosf</string>
		<string>one.tosf</string>
		<string>two.tosf</string>
		<string>three.tosf</string>
		<string>four.tosf</string>
		<string>five.tosf</string>
		<string>six.tosf</string>
		<string>seven.tosf</string>
		<string>eight.tosf</string>
		<string>nine.tosf</string>
		<string>fraction</string>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>zero.dnom</string>
		<string>one.dnom</string>
		<string>two.dnom</string>
		<string>three.dnom</string>
		<string>four.dnom</string>
		<string>five.dnom</string>
		<string>six.dnom</string>
		<string>seven.dnom</string>
		<string>eight.dnom</string>
		<string>nine.dnom</string>
		<string>zero.numr</string>
		<string>one.numr</string>
		<string>two.numr</string>
		<string>three.numr</string>
		<string>four.numr</string>
		<string>five.numr</string>
		<string>six.numr</string>
		<string>seven.numr</string>
		<string>eight.numr</string>
		<string>nine.numr</string>
		<string>zerosuperior</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>foursuperior</string>
		<string>fivesuperior</string>
		<string>sixsuperior</string>
		<string>sevensuperior</string>
		<string>eightsuperior</string>
		<string>ninesuperior</string>
		<string>asterisk</string>
		<string>backslash</string>
		<string>bullet</string>
		<string>colon</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>numbersign</string>
		<string>onedotenleader</string>
		<string>period</string>
		<string>periodcentered</string>
		<string>question</string>
		<string>questiondown</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>semicolon</string>
		<string>slash</string>
		<string>twodotenleader</string>
		<string>underscore</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>softhyphen</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>space</string>
		<string>uni00A0</string>
		<string>.notdef</string>
		<string>florin</string>
		<string>Euro</string>
		<string>cent</string>
		<string>currency</string>
		<string>dollar</string>
		<string>franc</string>
		<string>sterling</string>
		<string>yen</string>
		<string>Ohm</string>
		<string>approxequal</string>
		<string>asciitilde</string>
		<string>bulletoperator</string>
		<string>divide</string>
		<string>divisionslash</string>
		<string>equal</string>
		<string>greater</string>
		<string>greaterequal</string>
		<string>increment</string>
		<string>infinity</string>
		<string>integral</string>
		<string>less</string>
		<string>lessequal</string>
		<string>logicalnot</string>
		<string>uni00B5</string>
		<string>minus</string>
		<string>multiply</string>
		<string>notequal</string>
		<string>partialdiff</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>plus</string>
		<string>plusminus</string>
		<string>product</string>
		<string>radical</string>
		<string>summation</string>
		<string>arrowdown</string>
		<string>arrowdownleft</string>
		<string>arrowdownright</string>
		<string>arrowleft</string>
		<string>arrowright</string>
		<string>arrowup</string>
		<string>arrowupleft</string>
		<string>arrowupright</string>
		<string>lozenge</string>
		<string>ampersand</string>
		<string>asciicircum</string>
		<string>at</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>copyright</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>degree</string>
		<string>estimated</string>
		<string>uni2113</string>
		<string>minute</string>
		<string>paragraph</string>
		<string>registered</string>
		<string>second</string>
		<string>section</string>
		<string>trademark</string>
		<string>ampersand.sc</string>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>macron</string>
		<string>ogonek</string>
		<string>ring</string>
		<string>tilde</string>
		<string>acute.cap</string>
		<string>breve.cap</string>
		<string>caron.cap</string>
		<string>circumflex.cap</string>
		<string>grave.cap</string>
		<string>hungarumlaut.cap</string>
		<string>caron.alt</string>
		<string>dieresis.i</string>
		<string>macron.i</string>
		<string>tilde.i</string>
		<string>commaaccentcomb</string>
		<string>dotbelowcomb</string>
		<string>tildecomb</string>
		<string>firsttonechinese</string>
		<string>Gdieresis</string>
		<string>Gtilde</string>
		<string>breveacute</string>
		<string>brevegrave</string>
		<string>brevehookabove</string>
		<string>brevetilde</string>
		<string>circle1</string>
		<string>circle2</string>
		<string>circumflexacute</string>
		<string>circumflexgrave</string>
		<string>circumflexhookabove</string>
		<string>circumflextilde</string>
		<string>dieresisacute</string>
		<string>dieresiscaron</string>
		<string>dieresisgrave</string>
		<string>dieresismacron</string>
		<string>down</string>
		<string>firstofchinese</string>
		<string>foundryicon</string>
		<string>gdieresis</string>
		<string>gtilde</string>
		<string>hookabove</string>
		<string>left</string>
		<string>newGlyph</string>
		<string>newGlyph</string>
		<string>newGlyph</string>
		<string>newGlyph</string>
		<string>puso</string>
		<string>right</string>
		<string>ringacute</string>
		<string>square1</string>
		<string>square2</string>
		<string>up</string>
		<string>gdieresis.sc</string>
		<string>gtilde.sc</string>
		<string>puso.cap</string>
	</array>
</dict>
</plist>
