<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0.75,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>8D6B3084-4B1A-4420-A6D7-169055CBF7E4</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.dasia</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dasiaperispomeni</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dialytikaperispomeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dialytikavaria</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresistonos</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lowernumeral-greek</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.perispomeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.psili</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.psiliperispomeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tonos</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.varia</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ypogegrammenicomb</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
