<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>51EE8BF9-1AA5-43E0-8AC5-C2769742C767</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.pi</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
