<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>0B6E3A3E-1600-4239-9A6A-FC0024995097</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.M</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.m.sc</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
