<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>69E2386B-E23D-4EC5-BB03-F460EC8E34A8</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ia-cy</key>
      <integer>13</integer>
    </dict>
  </dict>
</plist>
