<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>8D0C1D2A-705C-4F1D-AFCD-BF14032A88F7</string>
      <key>com.schriftgestaltung.layerOrderInGlyph._softsign-cy.cond</key>
      <integer>7</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.softsign-cy</key>
      <integer>7</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.softsign-cy.cond</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
