<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,0,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>91BE73C8-2227-4AB9-BE29-8FBC4B3CBC07</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.dasia</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dasiaperispomeni</key>
      <integer>7</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dialytikaperispomeni</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dialytikavaria</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresistonos</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lowernumeral-greek</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.perispomeni</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.psili</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.psiliperispomeni</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tonos</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.varia</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ypogegrammenicomb</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
