<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>AD7BB62F-266B-4BA6-9C7E-1DF11505175C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.chi</key>
      <integer>12</integer>
    </dict>
  </dict>
</plist>
