<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0.75,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>86EE5E48-406F-446C-A72D-404D0C185BA6</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenleft</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
