<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>277C4270-8D24-4C66-B474-C328C06F385D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.epsilon</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
