<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>BA3DC4B6-B557-4E34-9B8C-5CFD379E3395</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.sterling</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
