<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D17E466B-36BC-45CE-9388-7BE54EE3EA4D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.iota</key>
      <integer>12</integer>
    </dict>
  </dict>
</plist>
