<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>355E8829-1FAA-4B48-8BF1-582D7479C6E4</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.upsilon</key>
      <integer>11</integer>
    </dict>
  </dict>
</plist>
