<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>ACB6A9E2-1924-4F81-B44D-AB7096D2A2A8</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.eta</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
