<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>8131BBA3-CDAF-4017-925D-BEBE4D312A90</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.one</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.one.lf</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sterling</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.three</key>
      <integer>7</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.three.lf</key>
      <integer>7</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.two</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.two.lf</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
