<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>dasia</key>
    <string>dasia.glif</string>
    <key>dasiaperispomeni</key>
    <string>dasiaperispomeni.glif</string>
    <key>dialytikaperispomeni</key>
    <string>dialytikaperispomeni.glif</string>
    <key>dialytikavaria</key>
    <string>dialytikavaria.glif</string>
    <key>dieresistonos</key>
    <string>dieresistonos.glif</string>
    <key>lowernumeral-greek</key>
    <string>lowernumeral-greek.glif</string>
    <key>perispomeni</key>
    <string>perispomeni.glif</string>
    <key>psili</key>
    <string>psili.glif</string>
    <key>psiliperispomeni</key>
    <string>psiliperispomeni.glif</string>
    <key>tonos</key>
    <string>tonos.glif</string>
    <key>varia</key>
    <string>varia.glif</string>
    <key>ypogegrammenicomb</key>
    <string>ypogegrammenicomb.glif</string>
  </dict>
</plist>
