<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>5409BAA6-2CE4-4AFA-A479-152D69430088</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.dasia</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dasiaperispomeni</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dialytikaperispomeni</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dialytikavaria</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresistonos</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lowernumeral-greek</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.perispomeni</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.psili</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.psiliperispomeni</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tonos</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.varia</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ypogegrammenicomb</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
