<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>578CF6C3-9459-4128-AAB6-5E43A8549375</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Softsign-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Softsign-cy.cond</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
