<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,0,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>78334216-4A1B-4EAC-9E89-CD05C91B7F55</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.eta</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
