<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>69627171-A63F-4313-B1C2-F1B7FD962A9C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.dasiaoxia</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
