<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>47BED3A7-308C-465F-83E9-410B860FBD07</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenleft</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
