<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D42E7B71-319B-4C25-B085-9FBE0E3A5FEB</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.upsilon</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
