<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,0.25,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9658FE81-4E20-4127-A026-37BB6758F7AB</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ereversed-cy</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
