<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>A16A1503-F7C3-4A81-AF80-F41F167D7A71</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Sha-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
