<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C7171574-D09C-414C-A3B1-F1F1E48F787D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.AE</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ae.sc</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
