<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>592EAE97-A464-4E30-B548-BF0BA9102AAF</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.gedescender-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
