<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,0.25,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>6FB32C52-FD16-4801-99DD-D719C4BF7649</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.k</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
