<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,0.25,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>84CF90CF-F3E1-47BD-9434-21A31F7F6DE4</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.y</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
