<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-18</integer>
		<key>@MMK_R_O</key>
		<integer>-19</integer>
		<key>@MMK_R_T</key>
		<integer>-48</integer>
		<key>@MMK_R_U</key>
		<integer>-25</integer>
		<key>@MMK_R_V</key>
		<integer>-38</integer>
		<key>@MMK_R_X</key>
		<integer>-2</integer>
		<key>@MMK_R_Y</key>
		<integer>-61</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-75</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-43</integer>
		<key>@MMK_R_period</key>
		<integer>7</integer>
		<key>colon</key>
		<integer>7</integer>
		<key>semicolon</key>
		<integer>7</integer>
	</dict>
	<key>@MMK_L_B</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-7</integer>
		<key>@MMK_R_V</key>
		<integer>-7</integer>
		<key>@MMK_R_Y</key>
		<integer>-15</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-25</integer>
		<key>@MMK_R_period</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_C</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>0</integer>
		<key>@MMK_R_J</key>
		<integer>3</integer>
		<key>@MMK_R_O</key>
		<integer>-9</integer>
		<key>@MMK_R_T</key>
		<integer>0</integer>
		<key>@MMK_R_Y</key>
		<integer>3</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-29</integer>
	</dict>
	<key>@MMK_L_E</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>3</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-25</integer>
		<key>@MMK_R_J</key>
		<integer>39</integer>
		<key>@MMK_R_O</key>
		<integer>-2</integer>
		<key>@MMK_R_S</key>
		<integer>-7</integer>
		<key>@MMK_R_T</key>
		<integer>28</integer>
		<key>@MMK_R_V</key>
		<integer>27</integer>
		<key>@MMK_R_X</key>
		<integer>25</integer>
		<key>@MMK_R_Y</key>
		<integer>36</integer>
		<key>@MMK_R_Z</key>
		<integer>13</integer>
		<key>@MMK_R_asterisk</key>
		<integer>15</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-17</integer>
		<key>@MMK_R_period</key>
		<integer>-101</integer>
	</dict>
	<key>@MMK_L_G</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>1</integer>
	</dict>
	<key>@MMK_L_H</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-4</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-29</integer>
		<key>@MMK_R_period</key>
		<integer>-29</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>9</integer>
		<key>@MMK_R_H</key>
		<integer>0</integer>
		<key>@MMK_R_J</key>
		<integer>-17</integer>
		<key>@MMK_R_O</key>
		<integer>-27</integer>
		<key>@MMK_R_T</key>
		<integer>-71</integer>
		<key>@MMK_R_U</key>
		<integer>-15</integer>
		<key>@MMK_R_V</key>
		<integer>-59</integer>
		<key>@MMK_R_Y</key>
		<integer>-69</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-94</integer>
	</dict>
	<key>@MMK_L_M</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-10</integer>
		<key>@MMK_R_Y</key>
		<integer>-18</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-10</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-30</integer>
		<key>@MMK_R_period</key>
		<integer>7</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-19</integer>
		<key>@MMK_R_J</key>
		<integer>8</integer>
		<key>@MMK_R_T</key>
		<integer>-25</integer>
		<key>@MMK_R_V</key>
		<integer>-27</integer>
		<key>@MMK_R_X</key>
		<integer>-21</integer>
		<key>@MMK_R_Y</key>
		<integer>-43</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-15</integer>
		<key>@MMK_R_period</key>
		<integer>-33</integer>
	</dict>
	<key>@MMK_L_P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-57</integer>
		<key>@MMK_R_J</key>
		<integer>8</integer>
		<key>@MMK_R_T</key>
		<integer>6</integer>
		<key>@MMK_R_V</key>
		<integer>-11</integer>
		<key>@MMK_R_X</key>
		<integer>-8</integer>
		<key>@MMK_R_Y</key>
		<integer>-14</integer>
		<key>@MMK_R_asterisk</key>
		<integer>15</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-48</integer>
		<key>@MMK_R_period</key>
		<integer>-158</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>-16</integer>
		<key>@MMK_R_U</key>
		<integer>-12</integer>
		<key>@MMK_R_V</key>
		<integer>-21</integer>
		<key>@MMK_R_Y</key>
		<integer>-29</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-15</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-48</integer>
		<key>@MMK_R_period</key>
		<integer>15</integer>
	</dict>
	<key>@MMK_L_S</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-16</integer>
		<key>@MMK_R_V</key>
		<integer>0</integer>
		<key>@MMK_R_Y</key>
		<integer>0</integer>
		<key>@MMK_R_period</key>
		<integer>-59</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-52</integer>
		<key>@MMK_R_J</key>
		<integer>3</integer>
		<key>@MMK_R_O</key>
		<integer>-39</integer>
		<key>@MMK_R_S</key>
		<integer>-16</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-67</integer>
		<key>@MMK_R_period</key>
		<integer>-80</integer>
		<key>colon</key>
		<integer>-63</integer>
		<key>semicolon</key>
		<integer>-64</integer>
	</dict>
	<key>@MMK_L_U</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-8</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-29</integer>
		<key>@MMK_R_period</key>
		<integer>-37</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_J</key>
		<integer>3</integer>
		<key>@MMK_R_M</key>
		<integer>-10</integer>
		<key>@MMK_R_O</key>
		<integer>-15</integer>
		<key>@MMK_R_S</key>
		<integer>-15</integer>
		<key>@MMK_R_Y</key>
		<integer>0</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-78</integer>
		<key>@MMK_R_period</key>
		<integer>-86</integer>
	</dict>
	<key>@MMK_L_X</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-7</integer>
		<key>@MMK_R_O</key>
		<integer>-22</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-57</integer>
		<key>@MMK_R_period</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-61</integer>
		<key>@MMK_R_J</key>
		<integer>8</integer>
		<key>@MMK_R_M</key>
		<integer>-18</integer>
		<key>@MMK_R_O</key>
		<integer>-43</integer>
		<key>@MMK_R_S</key>
		<integer>-15</integer>
		<key>@MMK_R_V</key>
		<integer>7</integer>
		<key>@MMK_R_asterisk</key>
		<integer>8</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-90</integer>
		<key>@MMK_R_period</key>
		<integer>-99</integer>
	</dict>
	<key>@MMK_L_Z</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>-1</integer>
	</dict>
	<key>@MMK_L_asterisk</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-45</integer>
		<key>@MMK_R_M</key>
		<integer>-2</integer>
		<key>@MMK_R_O</key>
		<integer>-11</integer>
		<key>@MMK_R_V</key>
		<integer>11</integer>
		<key>@MMK_R_X</key>
		<integer>0</integer>
		<key>@MMK_R_Y</key>
		<integer>10</integer>
		<key>@MMK_R_period</key>
		<integer>-80</integer>
		<key>questiondown</key>
		<integer>-53</integer>
		<key>space</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_hyphen</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-47</integer>
		<key>@MMK_R_H</key>
		<integer>-29</integer>
		<key>@MMK_R_J</key>
		<integer>-29</integer>
		<key>@MMK_R_M</key>
		<integer>-29</integer>
		<key>@MMK_R_T</key>
		<integer>-67</integer>
		<key>@MMK_R_U</key>
		<integer>-29</integer>
		<key>@MMK_R_V</key>
		<integer>-78</integer>
		<key>@MMK_R_X</key>
		<integer>-57</integer>
		<key>@MMK_R_Y</key>
		<integer>-55</integer>
		<key>@MMK_R_Z</key>
		<integer>3</integer>
		<key>space</key>
		<integer>-19</integer>
	</dict>
	<key>@MMK_L_period</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-8</integer>
		<key>@MMK_R_O</key>
		<integer>-33</integer>
		<key>@MMK_R_T</key>
		<integer>-81</integer>
		<key>@MMK_R_U</key>
		<integer>-16</integer>
		<key>@MMK_R_V</key>
		<integer>-75</integer>
		<key>@MMK_R_X</key>
		<integer>0</integer>
		<key>@MMK_R_Y</key>
		<integer>-100</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-80</integer>
		<key>space</key>
		<integer>-20</integer>
	</dict>
	<key>question</key>
	<dict>
		<key>@MMK_R_asterisk</key>
		<integer>31</integer>
	</dict>
	<key>space</key>
	<dict>
		<key>@MMK_R_asterisk</key>
		<integer>-20</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-20</integer>
		<key>@MMK_R_period</key>
		<integer>-20</integer>
	</dict>
</dict>
</plist>
