<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>0001FBE1-6DE9-4597-A49B-55ABB38ACD21</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.question.sc</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
