<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9DA94094-3B02-4221-A49D-10F1F8F02628</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ge-cy</key>
      <integer>14</integer>
    </dict>
  </dict>
</plist>
