<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Nov 10 17, 10:25</string>
      <string>glyphs.N_ov 10 17, 10_25</string>
    </array>
    <array>
      <string>Nov 10 17, 10:25.background</string>
      <string>glyphs.N_ov 10 17, 10_25.background</string>
    </array>
    <array>
      <string>Nov 10 17, 12:56</string>
      <string>glyphs.N_ov 10 17, 12_56</string>
    </array>
    <array>
      <string>Nov 8 17, 19:58</string>
      <string>glyphs.N_ov 8 17, 19_58</string>
    </array>
    <array>
      <string>Nov 8 17, 20:09</string>
      <string>glyphs.N_ov 8 17, 20_09</string>
    </array>
    <array>
      <string>Nov 8 17, 20:09.background</string>
      <string>glyphs.N_ov 8 17, 20_09.background</string>
    </array>
    <array>
      <string>Nov 8 17, 20:10</string>
      <string>glyphs.N_ov 8 17, 20_10</string>
    </array>
    <array>
      <string>Nov 8 17, 20:10.background</string>
      <string>glyphs.N_ov 8 17, 20_10.background</string>
    </array>
    <array>
      <string>Nov 14 17, 12:08</string>
      <string>glyphs.N_ov 14 17, 12_08</string>
    </array>
    <array>
      <string>Nov 14 17, 12:08.background</string>
      <string>glyphs.N_ov 14 17, 12_08.background</string>
    </array>
    <array>
      <string>Nov 10 17, 12:29</string>
      <string>glyphs.N_ov 10 17, 12_29</string>
    </array>
    <array>
      <string>Nov 10 17, 12:56.background</string>
      <string>glyphs.N_ov 10 17, 12_56.background</string>
    </array>
    <array>
      <string>Nov 28 16, 10:53</string>
      <string>glyphs.N_ov 28 16, 10_53</string>
    </array>
    <array>
      <string>Nov 28 16, 10:53.background</string>
      <string>glyphs.N_ov 28 16, 10_53.background</string>
    </array>
    <array>
      <string>Dec 1 16, 15:59</string>
      <string>glyphs.D_ec 1 16, 15_59</string>
    </array>
    <array>
      <string>Dec 1 16, 15:59.background</string>
      <string>glyphs.D_ec 1 16, 15_59.background</string>
    </array>
    <array>
      <string>Dec 1 16, 16:14</string>
      <string>glyphs.D_ec 1 16, 16_14</string>
    </array>
    <array>
      <string>Dec 1 16, 16:14.background</string>
      <string>glyphs.D_ec 1 16, 16_14.background</string>
    </array>
    <array>
      <string>Dec 1 16, 16:16</string>
      <string>glyphs.D_ec 1 16, 16_16</string>
    </array>
    <array>
      <string>Dec 1 16, 16:16.background</string>
      <string>glyphs.D_ec 1 16, 16_16.background</string>
    </array>
    <array>
      <string>Dec 12 16, 09:49</string>
      <string>glyphs.D_ec 12 16, 09_49</string>
    </array>
    <array>
      <string>Dec 12 16, 09:49.background</string>
      <string>glyphs.D_ec 12 16, 09_49.background</string>
    </array>
    <array>
      <string>Dec 12 16, 14:28</string>
      <string>glyphs.D_ec 12 16, 14_28</string>
    </array>
    <array>
      <string>Dec 12 16, 14:28.background</string>
      <string>glyphs.D_ec 12 16, 14_28.background</string>
    </array>
    <array>
      <string>Dec 1 16, 17:10</string>
      <string>glyphs.D_ec 1 16, 17_10</string>
    </array>
    <array>
      <string>Dec 12 16, 09:45</string>
      <string>glyphs.D_ec 12 16, 09_45</string>
    </array>
    <array>
      <string>Dec 12 16, 09:45.background</string>
      <string>glyphs.D_ec 12 16, 09_45.background</string>
    </array>
    <array>
      <string>Dec 1 16, 11:55</string>
      <string>glyphs.D_ec 1 16, 11_55</string>
    </array>
    <array>
      <string>Dec 1 16, 11:55.background</string>
      <string>glyphs.D_ec 1 16, 11_55.background</string>
    </array>
    <array>
      <string>Dec 1 16, 15:44</string>
      <string>glyphs.D_ec 1 16, 15_44</string>
    </array>
    <array>
      <string>Dec 1 16, 15:44.background</string>
      <string>glyphs.D_ec 1 16, 15_44.background</string>
    </array>
    <array>
      <string>Dec 1 16, 10:42</string>
      <string>glyphs.D_ec 1 16, 10_42</string>
    </array>
    <array>
      <string>Dec 1 16, 10:42.background</string>
      <string>glyphs.D_ec 1 16, 10_42.background</string>
    </array>
    <array>
      <string>Dec 1 16, 10:48</string>
      <string>glyphs.D_ec 1 16, 10_48</string>
    </array>
    <array>
      <string>Dec 1 16, 10:31</string>
      <string>glyphs.D_ec 1 16, 10_31</string>
    </array>
    <array>
      <string>Feb 2 17, 12:02</string>
      <string>glyphs.F_eb 2 17, 12_02</string>
    </array>
    <array>
      <string>Feb 2 17, 12:02.background</string>
      <string>glyphs.F_eb 2 17, 12_02.background</string>
    </array>
    <array>
      <string>Feb 1 17, 16:33</string>
      <string>glyphs.F_eb 1 17, 16_33</string>
    </array>
    <array>
      <string>Feb 1 17, 16:33.background</string>
      <string>glyphs.F_eb 1 17, 16_33.background</string>
    </array>
    <array>
      <string>Feb 1 17, 16:38</string>
      <string>glyphs.F_eb 1 17, 16_38</string>
    </array>
    <array>
      <string>Feb 1 17, 16:38.background</string>
      <string>glyphs.F_eb 1 17, 16_38.background</string>
    </array>
    <array>
      <string>Mar 10 17, 19:42</string>
      <string>glyphs.M_ar 10 17, 19_42</string>
    </array>
    <array>
      <string>Mar 10 17, 19:42.background</string>
      <string>glyphs.M_ar 10 17, 19_42.background</string>
    </array>
    <array>
      <string>Mar 10 17, 19:47</string>
      <string>glyphs.M_ar 10 17, 19_47</string>
    </array>
    <array>
      <string>Mar 10 17, 19:47.background</string>
      <string>glyphs.M_ar 10 17, 19_47.background</string>
    </array>
    <array>
      <string>Feb 1 17, 18:18</string>
      <string>glyphs.F_eb 1 17, 18_18</string>
    </array>
    <array>
      <string>Dec 17 16, 11:39</string>
      <string>glyphs.D_ec 17 16, 11_39</string>
    </array>
    <array>
      <string>Dec 17 16, 11:39.background</string>
      <string>glyphs.D_ec 17 16, 11_39.background</string>
    </array>
    <array>
      <string>Dec 17 16, 14:28</string>
      <string>glyphs.D_ec 17 16, 14_28</string>
    </array>
    <array>
      <string>Dec 17 16, 14:28.background</string>
      <string>glyphs.D_ec 17 16, 14_28.background</string>
    </array>
    <array>
      <string>Dec 17 16, 14:30</string>
      <string>glyphs.D_ec 17 16, 14_30</string>
    </array>
    <array>
      <string>Dec 17 16, 14:30.background</string>
      <string>glyphs.D_ec 17 16, 14_30.background</string>
    </array>
    <array>
      <string>Dec 21 16, 19:51</string>
      <string>glyphs.D_ec 21 16, 19_51</string>
    </array>
    <array>
      <string>Dec 21 16, 19:51.background</string>
      <string>glyphs.D_ec 21 16, 19_51.background</string>
    </array>
    <array>
      <string>Mar 1 17, 19:04</string>
      <string>glyphs.M_ar 1 17, 19_04</string>
    </array>
    <array>
      <string>Mar 1 17, 19:04.background</string>
      <string>glyphs.M_ar 1 17, 19_04.background</string>
    </array>
    <array>
      <string>Dec 15 16, 18:36</string>
      <string>glyphs.D_ec 15 16, 18_36</string>
    </array>
    <array>
      <string>Dec 21 16, 13:17</string>
      <string>glyphs.D_ec 21 16, 13_17</string>
    </array>
    <array>
      <string>Dec 21 16, 13:17.background</string>
      <string>glyphs.D_ec 21 16, 13_17.background</string>
    </array>
    <array>
      <string>Dec 21 16, 13:28</string>
      <string>glyphs.D_ec 21 16, 13_28</string>
    </array>
    <array>
      <string>Dec 21 16, 13:28.background</string>
      <string>glyphs.D_ec 21 16, 13_28.background</string>
    </array>
    <array>
      <string>Dec 15 16, 18:45</string>
      <string>glyphs.D_ec 15 16, 18_45</string>
    </array>
    <array>
      <string>Dec 15 16, 18:57</string>
      <string>glyphs.D_ec 15 16, 18_57</string>
    </array>
    <array>
      <string>Dec 15 16, 18:57.background</string>
      <string>glyphs.D_ec 15 16, 18_57.background</string>
    </array>
    <array>
      <string>Dec 15 16, 19:01</string>
      <string>glyphs.D_ec 15 16, 19_01</string>
    </array>
    <array>
      <string>Dec 15 16, 19:01.background</string>
      <string>glyphs.D_ec 15 16, 19_01.background</string>
    </array>
    <array>
      <string>Dec 15 16, 19:06</string>
      <string>glyphs.D_ec 15 16, 19_06</string>
    </array>
    <array>
      <string>Dec 15 16, 19:06.background</string>
      <string>glyphs.D_ec 15 16, 19_06.background</string>
    </array>
    <array>
      <string>Dec 15 16, 19:19</string>
      <string>glyphs.D_ec 15 16, 19_19</string>
    </array>
    <array>
      <string>Dec 15 16, 19:19.background</string>
      <string>glyphs.D_ec 15 16, 19_19.background</string>
    </array>
    <array>
      <string>Dec 22 16, 07:38</string>
      <string>glyphs.D_ec 22 16, 07_38</string>
    </array>
    <array>
      <string>Dec 22 16, 07:38.background</string>
      <string>glyphs.D_ec 22 16, 07_38.background</string>
    </array>
    <array>
      <string>Dec 22 16, 07:50</string>
      <string>glyphs.D_ec 22 16, 07_50</string>
    </array>
    <array>
      <string>Dec 22 16, 07:50.background</string>
      <string>glyphs.D_ec 22 16, 07_50.background</string>
    </array>
    <array>
      <string>Dec 22 16, 07:56</string>
      <string>glyphs.D_ec 22 16, 07_56</string>
    </array>
    <array>
      <string>Dec 22 16, 07:56.background</string>
      <string>glyphs.D_ec 22 16, 07_56.background</string>
    </array>
    <array>
      <string>May 18 17, 19:16</string>
      <string>glyphs.M_ay 18 17, 19_16</string>
    </array>
    <array>
      <string>May 18 17, 19:16.background</string>
      <string>glyphs.M_ay 18 17, 19_16.background</string>
    </array>
    <array>
      <string>Dec 17 16, 15:39</string>
      <string>glyphs.D_ec 17 16, 15_39</string>
    </array>
    <array>
      <string>Dec 21 16, 13:43</string>
      <string>glyphs.D_ec 21 16, 13_43</string>
    </array>
    <array>
      <string>Dec 21 16, 13:43.background</string>
      <string>glyphs.D_ec 21 16, 13_43.background</string>
    </array>
    <array>
      <string>Mar 1 17, 19:00</string>
      <string>glyphs.M_ar 1 17, 19_00</string>
    </array>
    <array>
      <string>Mar 1 17, 19:00.background</string>
      <string>glyphs.M_ar 1 17, 19_00.background</string>
    </array>
    <array>
      <string>Dec 17 16, 18:35</string>
      <string>glyphs.D_ec 17 16, 18_35</string>
    </array>
    <array>
      <string>Dec 17 16, 18:35.background</string>
      <string>glyphs.D_ec 17 16, 18_35.background</string>
    </array>
    <array>
      <string>Dec 17 16, 16:08</string>
      <string>glyphs.D_ec 17 16, 16_08</string>
    </array>
    <array>
      <string>Dec 17 16, 16:08.background</string>
      <string>glyphs.D_ec 17 16, 16_08.background</string>
    </array>
    <array>
      <string>Dec 17 16, 18:27</string>
      <string>glyphs.D_ec 17 16, 18_27</string>
    </array>
    <array>
      <string>Dec 16 16, 10:50</string>
      <string>glyphs.D_ec 16 16, 10_50</string>
    </array>
    <array>
      <string>Dec 16 16, 11:19</string>
      <string>glyphs.D_ec 16 16, 11_19</string>
    </array>
    <array>
      <string>Dec 16 16, 11:19.background</string>
      <string>glyphs.D_ec 16 16, 11_19.background</string>
    </array>
    <array>
      <string>Dec 16 16, 11:21</string>
      <string>glyphs.D_ec 16 16, 11_21</string>
    </array>
    <array>
      <string>Dec 16 16, 11:21.background</string>
      <string>glyphs.D_ec 16 16, 11_21.background</string>
    </array>
    <array>
      <string>Dec 16 16, 11:24</string>
      <string>glyphs.D_ec 16 16, 11_24</string>
    </array>
    <array>
      <string>Dec 16 16, 11:24.background</string>
      <string>glyphs.D_ec 16 16, 11_24.background</string>
    </array>
    <array>
      <string>Dec 21 16, 17:31</string>
      <string>glyphs.D_ec 21 16, 17_31</string>
    </array>
    <array>
      <string>Dec 21 16, 17:31.background</string>
      <string>glyphs.D_ec 21 16, 17_31.background</string>
    </array>
    <array>
      <string>Mar 10 17, 20:25</string>
      <string>glyphs.M_ar 10 17, 20_25</string>
    </array>
    <array>
      <string>Mar 10 17, 20:25.background</string>
      <string>glyphs.M_ar 10 17, 20_25.background</string>
    </array>
    <array>
      <string>Dec 17 16, 17:11</string>
      <string>glyphs.D_ec 17 16, 17_11</string>
    </array>
    <array>
      <string>Dec 17 16, 17:11.background</string>
      <string>glyphs.D_ec 17 16, 17_11.background</string>
    </array>
    <array>
      <string>Dec 21 16, 19:42</string>
      <string>glyphs.D_ec 21 16, 19_42</string>
    </array>
    <array>
      <string>Dec 21 16, 19:42.background</string>
      <string>glyphs.D_ec 21 16, 19_42.background</string>
    </array>
    <array>
      <string>Dec 21 16, 19:14</string>
      <string>glyphs.D_ec 21 16, 19_14</string>
    </array>
    <array>
      <string>Dec 21 16, 19:14.background</string>
      <string>glyphs.D_ec 21 16, 19_14.background</string>
    </array>
    <array>
      <string>Dec 17 16, 10:57</string>
      <string>glyphs.D_ec 17 16, 10_57</string>
    </array>
    <array>
      <string>Dec 17 16, 10:57.background</string>
      <string>glyphs.D_ec 17 16, 10_57.background</string>
    </array>
    <array>
      <string>Dec 17 16, 10:58</string>
      <string>glyphs.D_ec 17 16, 10_58</string>
    </array>
    <array>
      <string>Dec 17 16, 10:58.background</string>
      <string>glyphs.D_ec 17 16, 10_58.background</string>
    </array>
    <array>
      <string>Dec 21 16, 20:15</string>
      <string>glyphs.D_ec 21 16, 20_15</string>
    </array>
    <array>
      <string>Dec 21 16, 20:15.background</string>
      <string>glyphs.D_ec 21 16, 20_15.background</string>
    </array>
    <array>
      <string>Dec 16 16, 11:33</string>
      <string>glyphs.D_ec 16 16, 11_33</string>
    </array>
    <array>
      <string>Dec 16 16, 11:40</string>
      <string>glyphs.D_ec 16 16, 11_40</string>
    </array>
    <array>
      <string>Dec 16 16, 11:40.background</string>
      <string>glyphs.D_ec 16 16, 11_40.background</string>
    </array>
    <array>
      <string>Dec 16 16, 11:55</string>
      <string>glyphs.D_ec 16 16, 11_55</string>
    </array>
    <array>
      <string>Dec 16 16, 11:55.background</string>
      <string>glyphs.D_ec 16 16, 11_55.background</string>
    </array>
    <array>
      <string>Dec 21 16, 17:26</string>
      <string>glyphs.D_ec 21 16, 17_26</string>
    </array>
    <array>
      <string>Dec 21 16, 17:26.background</string>
      <string>glyphs.D_ec 21 16, 17_26.background</string>
    </array>
    <array>
      <string>May 24 17, 11:48</string>
      <string>glyphs.M_ay 24 17, 11_48</string>
    </array>
    <array>
      <string>May 24 17, 11:48.background</string>
      <string>glyphs.M_ay 24 17, 11_48.background</string>
    </array>
    <array>
      <string>May 24 17, 11:58</string>
      <string>glyphs.M_ay 24 17, 11_58</string>
    </array>
    <array>
      <string>May 24 17, 11:58.background</string>
      <string>glyphs.M_ay 24 17, 11_58.background</string>
    </array>
    <array>
      <string>May 24 17, 12:15</string>
      <string>glyphs.M_ay 24 17, 12_15</string>
    </array>
    <array>
      <string>May 24 17, 12:15.background</string>
      <string>glyphs.M_ay 24 17, 12_15.background</string>
    </array>
    <array>
      <string>May 31 17, 18:13</string>
      <string>glyphs.M_ay 31 17, 18_13</string>
    </array>
    <array>
      <string>May 31 17, 18:13.background</string>
      <string>glyphs.M_ay 31 17, 18_13.background</string>
    </array>
    <array>
      <string>Mar 9 17, 17:05</string>
      <string>glyphs.M_ar 9 17, 17_05</string>
    </array>
    <array>
      <string>Mar 10 17, 17:07</string>
      <string>glyphs.M_ar 10 17, 17_07</string>
    </array>
    <array>
      <string>Mar 10 17, 17:07.background</string>
      <string>glyphs.M_ar 10 17, 17_07.background</string>
    </array>
    <array>
      <string>Mar 10 17, 17:11</string>
      <string>glyphs.M_ar 10 17, 17_11</string>
    </array>
    <array>
      <string>Mar 10 17, 17:11.background</string>
      <string>glyphs.M_ar 10 17, 17_11.background</string>
    </array>
    <array>
      <string>Mar 14 17, 11:18</string>
      <string>glyphs.M_ar 14 17, 11_18</string>
    </array>
    <array>
      <string>Mar 14 17, 11:18.background</string>
      <string>glyphs.M_ar 14 17, 11_18.background</string>
    </array>
    <array>
      <string>Mar 9 17, 16:37</string>
      <string>glyphs.M_ar 9 17, 16_37</string>
    </array>
    <array>
      <string>Mar 9 17, 16:37.background</string>
      <string>glyphs.M_ar 9 17, 16_37.background</string>
    </array>
    <array>
      <string>Mar 10 17, 16:40</string>
      <string>glyphs.M_ar 10 17, 16_40</string>
    </array>
    <array>
      <string>Mar 10 17, 16:40.background</string>
      <string>glyphs.M_ar 10 17, 16_40.background</string>
    </array>
    <array>
      <string>Mar 28 17, 11:44</string>
      <string>glyphs.M_ar 28 17, 11_44</string>
    </array>
    <array>
      <string>Mar 28 17, 11:44.background</string>
      <string>glyphs.M_ar 28 17, 11_44.background</string>
    </array>
    <array>
      <string>Mar 28 17, 15:46</string>
      <string>glyphs.M_ar 28 17, 15_46</string>
    </array>
    <array>
      <string>Mar 28 17, 15:46.background</string>
      <string>glyphs.M_ar 28 17, 15_46.background</string>
    </array>
    <array>
      <string>Mar 28 17, 15:48</string>
      <string>glyphs.M_ar 28 17, 15_48</string>
    </array>
    <array>
      <string>Mar 28 17, 15:48.background</string>
      <string>glyphs.M_ar 28 17, 15_48.background</string>
    </array>
    <array>
      <string>Bold Oct 29 16, 17:34</string>
      <string>glyphs.B_old O_ct 29 16, 17_34</string>
    </array>
    <array>
      <string>Bold Oct 29 16, 17:34.background</string>
      <string>glyphs.B_old O_ct 29 16, 17_34.background</string>
    </array>
    <array>
      <string>Bold Oct 25 16, 11:33</string>
      <string>glyphs.B_old O_ct 25 16, 11_33</string>
    </array>
    <array>
      <string>Bold Oct 25 16, 11:33.background</string>
      <string>glyphs.B_old O_ct 25 16, 11_33.background</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 11:06</string>
      <string>glyphs.B_old O_ct 26 16, 11_06</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 11:06.background</string>
      <string>glyphs.B_old O_ct 26 16, 11_06.background</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 11:17</string>
      <string>glyphs.B_old O_ct 26 16, 11_17</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 11:17.background</string>
      <string>glyphs.B_old O_ct 26 16, 11_17.background</string>
    </array>
    <array>
      <string>Dec 19 16, 11:00</string>
      <string>glyphs.D_ec 19 16, 11_00</string>
    </array>
    <array>
      <string>Dec 19 16, 11:00.background</string>
      <string>glyphs.D_ec 19 16, 11_00.background</string>
    </array>
    <array>
      <string>Bold Oct 25 16, 15:11</string>
      <string>glyphs.B_old O_ct 25 16, 15_11</string>
    </array>
    <array>
      <string>Bold Oct 25 16, 15:11.background</string>
      <string>glyphs.B_old O_ct 25 16, 15_11.background</string>
    </array>
    <array>
      <string>Bold Oct 25 16, 14:32</string>
      <string>glyphs.B_old O_ct 25 16, 14_32</string>
    </array>
    <array>
      <string>Bold Oct 25 16, 14:32.background</string>
      <string>glyphs.B_old O_ct 25 16, 14_32.background</string>
    </array>
    <array>
      <string>Bold Oct 25 16, 15:23</string>
      <string>glyphs.B_old O_ct 25 16, 15_23</string>
    </array>
    <array>
      <string>Bold Oct 25 16, 15:23.background</string>
      <string>glyphs.B_old O_ct 25 16, 15_23.background</string>
    </array>
    <array>
      <string>Bold Oct 25 16, 15:24</string>
      <string>glyphs.B_old O_ct 25 16, 15_24</string>
    </array>
    <array>
      <string>Bold Oct 25 16, 15:24.background</string>
      <string>glyphs.B_old O_ct 25 16, 15_24.background</string>
    </array>
    <array>
      <string>Bold Oct 25 16, 15:54</string>
      <string>glyphs.B_old O_ct 25 16, 15_54</string>
    </array>
    <array>
      <string>Bold Oct 25 16, 15:54.background</string>
      <string>glyphs.B_old O_ct 25 16, 15_54.background</string>
    </array>
    <array>
      <string>Bold Nov 15 16, 20:32</string>
      <string>glyphs.B_old N_ov 15 16, 20_32</string>
    </array>
    <array>
      <string>Bold Nov 15 16, 20:32.background</string>
      <string>glyphs.B_old N_ov 15 16, 20_32.background</string>
    </array>
    <array>
      <string>Bold Nov 15 16, 20:34</string>
      <string>glyphs.B_old N_ov 15 16, 20_34</string>
    </array>
    <array>
      <string>Bold Nov 15 16, 20:34.background</string>
      <string>glyphs.B_old N_ov 15 16, 20_34.background</string>
    </array>
    <array>
      <string>Nov 22 16, 16:43</string>
      <string>glyphs.N_ov 22 16, 16_43</string>
    </array>
    <array>
      <string>Nov 22 16, 16:43.background</string>
      <string>glyphs.N_ov 22 16, 16_43.background</string>
    </array>
    <array>
      <string>Dec 19 16, 11:01</string>
      <string>glyphs.D_ec 19 16, 11_01</string>
    </array>
    <array>
      <string>Dec 19 16, 11:01.background</string>
      <string>glyphs.D_ec 19 16, 11_01.background</string>
    </array>
    <array>
      <string>Apr 11 17, 17:54</string>
      <string>glyphs.A_pr 11 17, 17_54</string>
    </array>
    <array>
      <string>Apr 11 17, 17:54.background</string>
      <string>glyphs.A_pr 11 17, 17_54.background</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 14:49</string>
      <string>glyphs.B_old O_ct 26 16, 14_49</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 14:49.background</string>
      <string>glyphs.B_old O_ct 26 16, 14_49.background</string>
    </array>
    <array>
      <string>Bold</string>
      <string>glyphs.B_old</string>
    </array>
    <array>
      <string>Bold.background</string>
      <string>glyphs.B_old.background</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 15:06</string>
      <string>glyphs.B_old O_ct 26 16, 15_06</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 15:06.background</string>
      <string>glyphs.B_old O_ct 26 16, 15_06.background</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 15:34</string>
      <string>glyphs.B_old O_ct 26 16, 15_34</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 15:34.background</string>
      <string>glyphs.B_old O_ct 26 16, 15_34.background</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 15:40</string>
      <string>glyphs.B_old O_ct 26 16, 15_40</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 15:40.background</string>
      <string>glyphs.B_old O_ct 26 16, 15_40.background</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 15:40 Oct 26 16, 15:40</string>
      <string>glyphs.B_old O_ct 26 16, 15_40 O_ct 26 16, 15_40</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 15:40 Oct 26 16, 15:40.background</string>
      <string>glyphs.B_old O_ct 26 16, 15_40 O_ct 26 16, 15_40.background</string>
    </array>
    <array>
      <string>Nov 16 16, 10:09</string>
      <string>glyphs.N_ov 16 16, 10_09</string>
    </array>
    <array>
      <string>Nov 16 16, 10:09.background</string>
      <string>glyphs.N_ov 16 16, 10_09.background</string>
    </array>
    <array>
      <string>Nov 22 16, 16:59</string>
      <string>glyphs.N_ov 22 16, 16_59</string>
    </array>
    <array>
      <string>Nov 22 16, 16:59.background</string>
      <string>glyphs.N_ov 22 16, 16_59.background</string>
    </array>
    <array>
      <string>Nov 30 16, 12:44</string>
      <string>glyphs.N_ov 30 16, 12_44</string>
    </array>
    <array>
      <string>Nov 30 16, 12:44.background</string>
      <string>glyphs.N_ov 30 16, 12_44.background</string>
    </array>
    <array>
      <string>Nov 30 16, 12:51</string>
      <string>glyphs.N_ov 30 16, 12_51</string>
    </array>
    <array>
      <string>Nov 30 16, 12:51.background</string>
      <string>glyphs.N_ov 30 16, 12_51.background</string>
    </array>
    <array>
      <string>Nov 16 16, 20:19</string>
      <string>glyphs.N_ov 16 16, 20_19</string>
    </array>
    <array>
      <string>Nov 16 16, 20:19.background</string>
      <string>glyphs.N_ov 16 16, 20_19.background</string>
    </array>
    <array>
      <string>Nov 22 16, 17:37</string>
      <string>glyphs.N_ov 22 16, 17_37</string>
    </array>
    <array>
      <string>Nov 22 16, 17:37.background</string>
      <string>glyphs.N_ov 22 16, 17_37.background</string>
    </array>
    <array>
      <string>Nov 22 16, 17:54</string>
      <string>glyphs.N_ov 22 16, 17_54</string>
    </array>
    <array>
      <string>Nov 22 16, 17:54.background</string>
      <string>glyphs.N_ov 22 16, 17_54.background</string>
    </array>
    <array>
      <string>Nov 22 16, 17:55 PANOS</string>
      <string>glyphs.N_ov 22 16, 17_55 P_A_N_O_S_</string>
    </array>
    <array>
      <string>Nov 22 16, 17:55 PANOS.background</string>
      <string>glyphs.N_ov 22 16, 17_55 P_A_N_O_S_.background</string>
    </array>
    <array>
      <string>Nov 29 16, 11:33</string>
      <string>glyphs.N_ov 29 16, 11_33</string>
    </array>
    <array>
      <string>Nov 29 16, 11:33.background</string>
      <string>glyphs.N_ov 29 16, 11_33.background</string>
    </array>
    <array>
      <string>Dec 14 16, 10:57</string>
      <string>glyphs.D_ec 14 16, 10_57</string>
    </array>
    <array>
      <string>Dec 14 16, 10:57.background</string>
      <string>glyphs.D_ec 14 16, 10_57.background</string>
    </array>
    <array>
      <string>Dec 14 16, 11:05</string>
      <string>glyphs.D_ec 14 16, 11_05</string>
    </array>
    <array>
      <string>Dec 14 16, 11:05.background</string>
      <string>glyphs.D_ec 14 16, 11_05.background</string>
    </array>
    <array>
      <string>Dec 14 16, 11:16</string>
      <string>glyphs.D_ec 14 16, 11_16</string>
    </array>
    <array>
      <string>Dec 14 16, 11:16.background</string>
      <string>glyphs.D_ec 14 16, 11_16.background</string>
    </array>
    <array>
      <string>Dec 14 16, 12:35</string>
      <string>glyphs.D_ec 14 16, 12_35</string>
    </array>
    <array>
      <string>Dec 14 16, 12:35.background</string>
      <string>glyphs.D_ec 14 16, 12_35.background</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 15:59</string>
      <string>glyphs.B_old O_ct 26 16, 15_59</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 15:59.background</string>
      <string>glyphs.B_old O_ct 26 16, 15_59.background</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 16:03</string>
      <string>glyphs.B_old O_ct 26 16, 16_03</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 16:03.background</string>
      <string>glyphs.B_old O_ct 26 16, 16_03.background</string>
    </array>
    <array>
      <string>Nov 16 16, 12:23</string>
      <string>glyphs.N_ov 16 16, 12_23</string>
    </array>
    <array>
      <string>Nov 16 16, 12:23.background</string>
      <string>glyphs.N_ov 16 16, 12_23.background</string>
    </array>
    <array>
      <string>Bold Oct 28 16, 17:13</string>
      <string>glyphs.B_old O_ct 28 16, 17_13</string>
    </array>
    <array>
      <string>Bold Oct 28 16, 17:13.background</string>
      <string>glyphs.B_old O_ct 28 16, 17_13.background</string>
    </array>
    <array>
      <string>Bold Oct 28 16, 17:27</string>
      <string>glyphs.B_old O_ct 28 16, 17_27</string>
    </array>
    <array>
      <string>Bold Oct 28 16, 17:27.background</string>
      <string>glyphs.B_old O_ct 28 16, 17_27.background</string>
    </array>
    <array>
      <string>Nov 30 16, 15:01</string>
      <string>glyphs.N_ov 30 16, 15_01</string>
    </array>
    <array>
      <string>Nov 30 16, 15:01.background</string>
      <string>glyphs.N_ov 30 16, 15_01.background</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 12:38</string>
      <string>glyphs.B_old O_ct 26 16, 12_38</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 12:38.background</string>
      <string>glyphs.B_old O_ct 26 16, 12_38.background</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 12:39</string>
      <string>glyphs.B_old O_ct 26 16, 12_39</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 12:39.background</string>
      <string>glyphs.B_old O_ct 26 16, 12_39.background</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 12:40</string>
      <string>glyphs.B_old O_ct 26 16, 12_40</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 12:40.background</string>
      <string>glyphs.B_old O_ct 26 16, 12_40.background</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 12:41</string>
      <string>glyphs.B_old O_ct 26 16, 12_41</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 12:41.background</string>
      <string>glyphs.B_old O_ct 26 16, 12_41.background</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 12:43</string>
      <string>glyphs.B_old O_ct 26 16, 12_43</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 12:43.background</string>
      <string>glyphs.B_old O_ct 26 16, 12_43.background</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 12:45</string>
      <string>glyphs.B_old O_ct 26 16, 12_45</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 12:45.background</string>
      <string>glyphs.B_old O_ct 26 16, 12_45.background</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 12:46</string>
      <string>glyphs.B_old O_ct 26 16, 12_46</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 12:46.background</string>
      <string>glyphs.B_old O_ct 26 16, 12_46.background</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 12:47</string>
      <string>glyphs.B_old O_ct 26 16, 12_47</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 12:47.background</string>
      <string>glyphs.B_old O_ct 26 16, 12_47.background</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 19:57</string>
      <string>glyphs.B_old O_ct 26 16, 19_57</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 19:57.background</string>
      <string>glyphs.B_old O_ct 26 16, 19_57.background</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 21:00</string>
      <string>glyphs.B_old O_ct 26 16, 21_00</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 21:00.background</string>
      <string>glyphs.B_old O_ct 26 16, 21_00.background</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 21:00 Oct 26 16, 21:17</string>
      <string>glyphs.B_old O_ct 26 16, 21_00 O_ct 26 16, 21_17</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 21:00 Oct 26 16, 21:17.background</string>
      <string>glyphs.B_old O_ct 26 16, 21_00 O_ct 26 16, 21_17.background</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 21:18</string>
      <string>glyphs.B_old O_ct 26 16, 21_18</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 21:18.background</string>
      <string>glyphs.B_old O_ct 26 16, 21_18.background</string>
    </array>
    <array>
      <string>Nov 16 16, 12:37</string>
      <string>glyphs.N_ov 16 16, 12_37</string>
    </array>
    <array>
      <string>Nov 16 16, 12:37.background</string>
      <string>glyphs.N_ov 16 16, 12_37.background</string>
    </array>
    <array>
      <string>Nov 16 16, 16:48</string>
      <string>glyphs.N_ov 16 16, 16_48</string>
    </array>
    <array>
      <string>Nov 16 16, 16:48.background</string>
      <string>glyphs.N_ov 16 16, 16_48.background</string>
    </array>
    <array>
      <string>Nov 22 16, 18:00 PANOS</string>
      <string>glyphs.N_ov 22 16, 18_00 P_A_N_O_S_</string>
    </array>
    <array>
      <string>Nov 22 16, 18:00 PANOS.background</string>
      <string>glyphs.N_ov 22 16, 18_00 P_A_N_O_S_.background</string>
    </array>
    <array>
      <string>Nov 28 16, 13:21</string>
      <string>glyphs.N_ov 28 16, 13_21</string>
    </array>
    <array>
      <string>Nov 28 16, 13:21.background</string>
      <string>glyphs.N_ov 28 16, 13_21.background</string>
    </array>
    <array>
      <string>Bold Oct 28 16, 17:37</string>
      <string>glyphs.B_old O_ct 28 16, 17_37</string>
    </array>
    <array>
      <string>Bold Oct 28 16, 17:37.background</string>
      <string>glyphs.B_old O_ct 28 16, 17_37.background</string>
    </array>
    <array>
      <string>Bold Oct 28 16, 17:50</string>
      <string>glyphs.B_old O_ct 28 16, 17_50</string>
    </array>
    <array>
      <string>Bold Oct 28 16, 17:50.background</string>
      <string>glyphs.B_old O_ct 28 16, 17_50.background</string>
    </array>
    <array>
      <string>Nov 22 16, 18:05</string>
      <string>glyphs.N_ov 22 16, 18_05</string>
    </array>
    <array>
      <string>Nov 22 16, 18:05.background</string>
      <string>glyphs.N_ov 22 16, 18_05.background</string>
    </array>
    <array>
      <string>Dec 14 16, 15:38</string>
      <string>glyphs.D_ec 14 16, 15_38</string>
    </array>
    <array>
      <string>Dec 14 16, 15:38.background</string>
      <string>glyphs.D_ec 14 16, 15_38.background</string>
    </array>
    <array>
      <string>Dec 19 16, 11:17</string>
      <string>glyphs.D_ec 19 16, 11_17</string>
    </array>
    <array>
      <string>Dec 19 16, 11:17.background</string>
      <string>glyphs.D_ec 19 16, 11_17.background</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 20:01</string>
      <string>glyphs.B_old O_ct 26 16, 20_01</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 20:01.background</string>
      <string>glyphs.B_old O_ct 26 16, 20_01.background</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 17:45</string>
      <string>glyphs.B_old O_ct 26 16, 17_45</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 17:45.background</string>
      <string>glyphs.B_old O_ct 26 16, 17_45.background</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 17:47</string>
      <string>glyphs.B_old O_ct 26 16, 17_47</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 17:47.background</string>
      <string>glyphs.B_old O_ct 26 16, 17_47.background</string>
    </array>
    <array>
      <string>Nov 30 16, 16:19</string>
      <string>glyphs.N_ov 30 16, 16_19</string>
    </array>
    <array>
      <string>Nov 30 16, 16:19.background</string>
      <string>glyphs.N_ov 30 16, 16_19.background</string>
    </array>
    <array>
      <string>Dec 14 16, 10:39</string>
      <string>glyphs.D_ec 14 16, 10_39</string>
    </array>
    <array>
      <string>Dec 14 16, 10:39.background</string>
      <string>glyphs.D_ec 14 16, 10_39.background</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 20:04</string>
      <string>glyphs.B_old O_ct 26 16, 20_04</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 20:04.background</string>
      <string>glyphs.B_old O_ct 26 16, 20_04.background</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 20:08</string>
      <string>glyphs.B_old O_ct 26 16, 20_08</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 20:08.background</string>
      <string>glyphs.B_old O_ct 26 16, 20_08.background</string>
    </array>
    <array>
      <string>Nov 30 16, 16:31</string>
      <string>glyphs.N_ov 30 16, 16_31</string>
    </array>
    <array>
      <string>Nov 30 16, 16:31.background</string>
      <string>glyphs.N_ov 30 16, 16_31.background</string>
    </array>
    <array>
      <string>Nov 22 16, 18:10</string>
      <string>glyphs.N_ov 22 16, 18_10</string>
    </array>
    <array>
      <string>Nov 22 16, 18:10.background</string>
      <string>glyphs.N_ov 22 16, 18_10.background</string>
    </array>
    <array>
      <string>Nov 30 16, 15:15</string>
      <string>glyphs.N_ov 30 16, 15_15</string>
    </array>
    <array>
      <string>Nov 30 16, 15:15.background</string>
      <string>glyphs.N_ov 30 16, 15_15.background</string>
    </array>
    <array>
      <string>Dec 14 16, 12:08</string>
      <string>glyphs.D_ec 14 16, 12_08</string>
    </array>
    <array>
      <string>Dec 14 16, 12:08.background</string>
      <string>glyphs.D_ec 14 16, 12_08.background</string>
    </array>
    <array>
      <string>Dec 14 16, 12:16</string>
      <string>glyphs.D_ec 14 16, 12_16</string>
    </array>
    <array>
      <string>Dec 14 16, 12:16.background</string>
      <string>glyphs.D_ec 14 16, 12_16.background</string>
    </array>
    <array>
      <string>Dec 14 16, 12:26</string>
      <string>glyphs.D_ec 14 16, 12_26</string>
    </array>
    <array>
      <string>Dec 14 16, 12:26.background</string>
      <string>glyphs.D_ec 14 16, 12_26.background</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 20:21</string>
      <string>glyphs.B_old O_ct 26 16, 20_21</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 20:21.background</string>
      <string>glyphs.B_old O_ct 26 16, 20_21.background</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 20:38</string>
      <string>glyphs.B_old O_ct 26 16, 20_38</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 20:38.background</string>
      <string>glyphs.B_old O_ct 26 16, 20_38.background</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 20:39</string>
      <string>glyphs.B_old O_ct 26 16, 20_39</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 20:39.background</string>
      <string>glyphs.B_old O_ct 26 16, 20_39.background</string>
    </array>
    <array>
      <string>Nov 22 16, 18:12</string>
      <string>glyphs.N_ov 22 16, 18_12</string>
    </array>
    <array>
      <string>Nov 22 16, 18:12.background</string>
      <string>glyphs.N_ov 22 16, 18_12.background</string>
    </array>
    <array>
      <string>Nov 30 16, 15:25</string>
      <string>glyphs.N_ov 30 16, 15_25</string>
    </array>
    <array>
      <string>Nov 30 16, 15:25.background</string>
      <string>glyphs.N_ov 30 16, 15_25.background</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 16:48</string>
      <string>glyphs.B_old O_ct 26 16, 16_48</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 16:48.background</string>
      <string>glyphs.B_old O_ct 26 16, 16_48.background</string>
    </array>
    <array>
      <string>Nov 30 16, 15:32</string>
      <string>glyphs.N_ov 30 16, 15_32</string>
    </array>
    <array>
      <string>Nov 30 16, 15:32.background</string>
      <string>glyphs.N_ov 30 16, 15_32.background</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 16:17</string>
      <string>glyphs.B_old O_ct 26 16, 16_17</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 16:17.background</string>
      <string>glyphs.B_old O_ct 26 16, 16_17.background</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 16:21</string>
      <string>glyphs.B_old O_ct 26 16, 16_21</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 16:21.background</string>
      <string>glyphs.B_old O_ct 26 16, 16_21.background</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 17:53</string>
      <string>glyphs.B_old O_ct 26 16, 17_53</string>
    </array>
    <array>
      <string>Bold Oct 26 16, 17:53.background</string>
      <string>glyphs.B_old O_ct 26 16, 17_53.background</string>
    </array>
    <array>
      <string>Nov 30 16, 15:58</string>
      <string>glyphs.N_ov 30 16, 15_58</string>
    </array>
    <array>
      <string>Nov 30 16, 15:58.background</string>
      <string>glyphs.N_ov 30 16, 15_58.background</string>
    </array>
    <array>
      <string>Nov 30 16, 16:04</string>
      <string>glyphs.N_ov 30 16, 16_04</string>
    </array>
    <array>
      <string>Nov 30 16, 16:04.background</string>
      <string>glyphs.N_ov 30 16, 16_04.background</string>
    </array>
    <array>
      <string>Nov 22 16, 18:14</string>
      <string>glyphs.N_ov 22 16, 18_14</string>
    </array>
    <array>
      <string>Nov 22 16, 18:14.background</string>
      <string>glyphs.N_ov 22 16, 18_14.background</string>
    </array>
    <array>
      <string>Nov 22 16, 18:15</string>
      <string>glyphs.N_ov 22 16, 18_15</string>
    </array>
    <array>
      <string>Nov 22 16, 18:15.background</string>
      <string>glyphs.N_ov 22 16, 18_15.background</string>
    </array>
    <array>
      <string>Nov 30 16, 18:09</string>
      <string>glyphs.N_ov 30 16, 18_09</string>
    </array>
    <array>
      <string>Nov 30 16, 18:09.background</string>
      <string>glyphs.N_ov 30 16, 18_09.background</string>
    </array>
    <array>
      <string>Nov 30 16, 18:38</string>
      <string>glyphs.N_ov 30 16, 18_38</string>
    </array>
    <array>
      <string>Nov 30 16, 18:38.background</string>
      <string>glyphs.N_ov 30 16, 18_38.background</string>
    </array>
    <array>
      <string>Nov 16 16, 17:15</string>
      <string>glyphs.N_ov 16 16, 17_15</string>
    </array>
    <array>
      <string>Nov 16 16, 17:15.background</string>
      <string>glyphs.N_ov 16 16, 17_15.background</string>
    </array>
    <array>
      <string>Nov 16 16, 17:17</string>
      <string>glyphs.N_ov 16 16, 17_17</string>
    </array>
    <array>
      <string>Nov 16 16, 17:17.background</string>
      <string>glyphs.N_ov 16 16, 17_17.background</string>
    </array>
    <array>
      <string>Nov 16 16, 17:56</string>
      <string>glyphs.N_ov 16 16, 17_56</string>
    </array>
    <array>
      <string>Nov 16 16, 17:56.background</string>
      <string>glyphs.N_ov 16 16, 17_56.background</string>
    </array>
    <array>
      <string>Nov 16 16, 18:03</string>
      <string>glyphs.N_ov 16 16, 18_03</string>
    </array>
    <array>
      <string>Nov 16 16, 18:03.background</string>
      <string>glyphs.N_ov 16 16, 18_03.background</string>
    </array>
    <array>
      <string>Nov 16 16, 18:07</string>
      <string>glyphs.N_ov 16 16, 18_07</string>
    </array>
    <array>
      <string>Nov 16 16, 18:07.background</string>
      <string>glyphs.N_ov 16 16, 18_07.background</string>
    </array>
    <array>
      <string>Nov 22 16, 18:17</string>
      <string>glyphs.N_ov 22 16, 18_17</string>
    </array>
    <array>
      <string>Nov 22 16, 18:17.background</string>
      <string>glyphs.N_ov 22 16, 18_17.background</string>
    </array>
    <array>
      <string>Nov 22 16, 18:18</string>
      <string>glyphs.N_ov 22 16, 18_18</string>
    </array>
    <array>
      <string>Nov 22 16, 18:18.background</string>
      <string>glyphs.N_ov 22 16, 18_18.background</string>
    </array>
    <array>
      <string>Nov 16 16, 11:52</string>
      <string>glyphs.N_ov 16 16, 11_52</string>
    </array>
    <array>
      <string>Nov 16 16, 11:52.background</string>
      <string>glyphs.N_ov 16 16, 11_52.background</string>
    </array>
    <array>
      <string>Nov 16 16, 12:05</string>
      <string>glyphs.N_ov 16 16, 12_05</string>
    </array>
    <array>
      <string>Nov 16 16, 12:05.background</string>
      <string>glyphs.N_ov 16 16, 12_05.background</string>
    </array>
    <array>
      <string>Nov 16 16, 12:07</string>
      <string>glyphs.N_ov 16 16, 12_07</string>
    </array>
    <array>
      <string>Nov 16 16, 12:07.background</string>
      <string>glyphs.N_ov 16 16, 12_07.background</string>
    </array>
    <array>
      <string>Nov 16 16, 12:09</string>
      <string>glyphs.N_ov 16 16, 12_09</string>
    </array>
    <array>
      <string>Nov 16 16, 12:09.background</string>
      <string>glyphs.N_ov 16 16, 12_09.background</string>
    </array>
    <array>
      <string>Nov 22 16, 18:22</string>
      <string>glyphs.N_ov 22 16, 18_22</string>
    </array>
    <array>
      <string>Nov 22 16, 18:22.background</string>
      <string>glyphs.N_ov 22 16, 18_22.background</string>
    </array>
    <array>
      <string>Nov 23 16, 12:08</string>
      <string>glyphs.N_ov 23 16, 12_08</string>
    </array>
    <array>
      <string>Nov 23 16, 12:08.background</string>
      <string>glyphs.N_ov 23 16, 12_08.background</string>
    </array>
    <array>
      <string>Bold Nov 5 16, 17:42</string>
      <string>glyphs.B_old N_ov 5 16, 17_42</string>
    </array>
    <array>
      <string>Bold Nov 5 16, 15:14</string>
      <string>glyphs.B_old N_ov 5 16, 15_14</string>
    </array>
    <array>
      <string>Bold Nov 5 16, 15:14.background</string>
      <string>glyphs.B_old N_ov 5 16, 15_14.background</string>
    </array>
    <array>
      <string>Bold Nov 5 16, 17:46</string>
      <string>glyphs.B_old N_ov 5 16, 17_46</string>
    </array>
    <array>
      <string>Bold Nov 5 16, 17:46.background</string>
      <string>glyphs.B_old N_ov 5 16, 17_46.background</string>
    </array>
    <array>
      <string>Bold Nov 5 16, 17:39</string>
      <string>glyphs.B_old N_ov 5 16, 17_39</string>
    </array>
    <array>
      <string>Bold Nov 5 16, 17:39.background</string>
      <string>glyphs.B_old N_ov 5 16, 17_39.background</string>
    </array>
    <array>
      <string>Bold Nov 5 16, 16:10</string>
      <string>glyphs.B_old N_ov 5 16, 16_10</string>
    </array>
    <array>
      <string>Bold Nov 5 16, 17:34</string>
      <string>glyphs.B_old N_ov 5 16, 17_34</string>
    </array>
    <array>
      <string>Bold Nov 5 16, 17:34.background</string>
      <string>glyphs.B_old N_ov 5 16, 17_34.background</string>
    </array>
    <array>
      <string>Nov 28 16, 11:31</string>
      <string>glyphs.N_ov 28 16, 11_31</string>
    </array>
    <array>
      <string>Nov 28 16, 11:31.background</string>
      <string>glyphs.N_ov 28 16, 11_31.background</string>
    </array>
    <array>
      <string>Bold Nov 4 16, 10:59</string>
      <string>glyphs.B_old N_ov 4 16, 10_59</string>
    </array>
    <array>
      <string>Bold Nov 4 16, 10:59.background</string>
      <string>glyphs.B_old N_ov 4 16, 10_59.background</string>
    </array>
    <array>
      <string>Nov 24 16, 17:15</string>
      <string>glyphs.N_ov 24 16, 17_15</string>
    </array>
    <array>
      <string>Nov 24 16, 17:15.background</string>
      <string>glyphs.N_ov 24 16, 17_15.background</string>
    </array>
    <array>
      <string>Mar 5 17, 19:49</string>
      <string>glyphs.M_ar 5 17, 19_49</string>
    </array>
    <array>
      <string>Mar 10 17, 16:57</string>
      <string>glyphs.M_ar 10 17, 16_57</string>
    </array>
    <array>
      <string>Mar 10 17, 16:57.background</string>
      <string>glyphs.M_ar 10 17, 16_57.background</string>
    </array>
  </array>
</plist>
