<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>05F0E96F-71B8-4F5D-9156-13E633AE9947</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.germandbls</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
