<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,0.25,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>50FDAF49-A281-42E8-971E-1CCC93A65BF0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Softsign-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Softsign-cy.cond</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
