<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E3FF6DD6-834A-427D-A921-630E170A3618</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Softsign-cy</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Softsign-cy.cond</key>
      <integer>8</integer>
    </dict>
  </dict>
</plist>
