<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0.75,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7D27C855-1358-4A13-9966-543CB0C3D72E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.AE</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ae.sc</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
