<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0.75,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F0A0404F-F861-42A6-A929-D6D479329ACF</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.A</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.a.sc</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
