<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>19D547B4-C73F-4EDE-B8E6-9AADE332E250</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ghestroke-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
