<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,0.25,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7C548531-36EC-43A2-B9E4-15469F6C6391</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.de-cy</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
