<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C69EA93A-9A86-4E46-A62C-9B299474DD9B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ve-cy</key>
      <integer>9</integer>
    </dict>
  </dict>
</plist>
