<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>6DF2EB30-6108-4F8C-817B-4C65F5C625A0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.six</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.six.lf</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
