<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>003E9418-4B14-4BF9-BD5A-3C32250F0BE8</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.xi</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
