<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>64A63B27-3F17-4C1F-A58D-42AA9A371258</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.theta</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
