<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>DD7F3221-5D1D-46CB-A8B2-33BCAAD7F554</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.gedescender-cy</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
