<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>0897690F-4F2E-491C-A288-3013C46919C7</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.sigma</key>
      <integer>12</integer>
    </dict>
  </dict>
</plist>
