<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>28A02ECD-3D85-473E-A4B0-E67CDA0C9CDB</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.sigma</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
