<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-5</integer>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>-60</integer>
		<key>@MMK_R_U</key>
		<integer>1</integer>
		<key>@MMK_R_V</key>
		<integer>-11</integer>
		<key>@MMK_R_X</key>
		<integer>-10</integer>
		<key>@MMK_R_Y</key>
		<integer>-40</integer>
		<key>@MMK_R_a</key>
		<integer>5</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-100</integer>
		<key>@MMK_R_h</key>
		<integer>-2</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-55</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_p</key>
		<integer>-20</integer>
		<key>@MMK_R_period</key>
		<integer>-5</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-14</integer>
		<key>@MMK_R_y</key>
		<integer>-13</integer>
		<key>b</key>
		<integer>-30</integer>
		<key>colon</key>
		<integer>-5</integer>
		<key>semicolon</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_B</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>5</integer>
		<key>@MMK_R_V</key>
		<integer>5</integer>
		<key>@MMK_R_Y</key>
		<integer>10</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-51</integer>
		<key>@MMK_R_n</key>
		<integer>-15</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
		<key>@MMK_R_p</key>
		<integer>-15</integer>
		<key>@MMK_R_period</key>
		<integer>-51</integer>
		<key>@MMK_R_v</key>
		<integer>-15</integer>
		<key>@MMK_R_z</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_C</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>5</integer>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_h</key>
		<integer>-5</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-36</integer>
		<key>@MMK_R_n</key>
		<integer>-25</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_p</key>
		<integer>-20</integer>
		<key>@MMK_R_s</key>
		<integer>-10</integer>
		<key>@MMK_R_t</key>
		<integer>-10</integer>
		<key>@MMK_R_u</key>
		<integer>-15</integer>
		<key>@MMK_R_v</key>
		<integer>-10</integer>
		<key>@MMK_R_z</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_E</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-25</integer>
		<key>@MMK_R_f</key>
		<integer>-25</integer>
		<key>@MMK_R_g</key>
		<integer>-56</integer>
		<key>@MMK_R_h</key>
		<integer>-10</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-41</integer>
		<key>@MMK_R_n</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-33</integer>
		<key>@MMK_R_u</key>
		<integer>-25</integer>
		<key>@MMK_R_v</key>
		<integer>-41</integer>
		<key>@MMK_R_z</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-25</integer>
		<key>@MMK_R_J</key>
		<integer>30</integer>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_S</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>20</integer>
		<key>@MMK_R_V</key>
		<integer>10</integer>
		<key>@MMK_R_Y</key>
		<integer>10</integer>
		<key>@MMK_R_a</key>
		<integer>-34</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-10</integer>
		<key>@MMK_R_g</key>
		<integer>-45</integer>
		<key>@MMK_R_h</key>
		<integer>-10</integer>
		<key>@MMK_R_hyphen</key>
		<integer>1</integer>
		<key>@MMK_R_n</key>
		<integer>-30</integer>
		<key>@MMK_R_o</key>
		<integer>-47</integer>
		<key>@MMK_R_p</key>
		<integer>-30</integer>
		<key>@MMK_R_period</key>
		<integer>-105</integer>
		<key>@MMK_R_s</key>
		<integer>-30</integer>
		<key>@MMK_R_u</key>
		<integer>-30</integer>
		<key>@MMK_R_v</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_G</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>10</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_h</key>
		<integer>-10</integer>
		<key>@MMK_R_n</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_p</key>
		<integer>-5</integer>
		<key>@MMK_R_u</key>
		<integer>-25</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_H</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-5</integer>
		<key>@MMK_R_a</key>
		<integer>-25</integer>
		<key>@MMK_R_g</key>
		<integer>-30</integer>
		<key>@MMK_R_h</key>
		<integer>-21</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-30</integer>
		<key>@MMK_R_n</key>
		<integer>-15</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_p</key>
		<integer>10</integer>
		<key>@MMK_R_period</key>
		<integer>-30</integer>
		<key>@MMK_R_s</key>
		<integer>-30</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>-36</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>8</integer>
		<key>@MMK_R_H</key>
		<integer>0</integer>
		<key>@MMK_R_O</key>
		<integer>-40</integer>
		<key>@MMK_R_T</key>
		<integer>-35</integer>
		<key>@MMK_R_U</key>
		<integer>10</integer>
		<key>@MMK_R_V</key>
		<integer>-45</integer>
		<key>@MMK_R_Y</key>
		<integer>-40</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-110</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
		<key>@MMK_R_y</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_M</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-10</integer>
		<key>@MMK_R_Y</key>
		<integer>-5</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-61</integer>
		<key>@MMK_R_g</key>
		<integer>5</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-30</integer>
		<key>@MMK_R_n</key>
		<integer>-15</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_period</key>
		<integer>-5</integer>
		<key>@MMK_R_u</key>
		<integer>-25</integer>
		<key>@MMK_R_v</key>
		<integer>-22</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_V</key>
		<integer>-10</integer>
		<key>@MMK_R_X</key>
		<integer>-23</integer>
		<key>@MMK_R_Y</key>
		<integer>-29</integer>
		<key>@MMK_R_a</key>
		<integer>5</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-41</integer>
		<key>@MMK_R_g</key>
		<integer>0</integer>
		<key>@MMK_R_j</key>
		<integer>40</integer>
		<key>@MMK_R_n</key>
		<integer>5</integer>
		<key>@MMK_R_o</key>
		<integer>5</integer>
		<key>@MMK_R_period</key>
		<integer>-50</integer>
		<key>@MMK_R_v</key>
		<integer>5</integer>
		<key>@MMK_R_y</key>
		<integer>40</integer>
	</dict>
	<key>@MMK_L_P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-45</integer>
		<key>@MMK_R_T</key>
		<integer>-10</integer>
		<key>@MMK_R_V</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-10</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-85</integer>
		<key>@MMK_R_n</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-53</integer>
		<key>@MMK_R_p</key>
		<integer>-20</integer>
		<key>@MMK_R_period</key>
		<integer>-200</integer>
		<key>@MMK_R_s</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-4</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_U</key>
		<integer>-25</integer>
		<key>@MMK_R_V</key>
		<integer>-25</integer>
		<key>@MMK_R_Y</key>
		<integer>-29</integer>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_asterisk</key>
		<integer>10</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_h</key>
		<integer>-15</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-85</integer>
		<key>@MMK_R_n</key>
		<integer>-25</integer>
		<key>@MMK_R_o</key>
		<integer>-40</integer>
		<key>@MMK_R_p</key>
		<integer>-20</integer>
		<key>@MMK_R_period</key>
		<integer>-10</integer>
		<key>@MMK_R_s</key>
		<integer>-30</integer>
		<key>@MMK_R_u</key>
		<integer>-25</integer>
		<key>@MMK_R_v</key>
		<integer>-25</integer>
		<key>@MMK_R_y</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_S</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>0</integer>
		<key>@MMK_R_Y</key>
		<integer>5</integer>
		<key>@MMK_R_a</key>
		<integer>-25</integer>
		<key>@MMK_R_h</key>
		<integer>-15</integer>
		<key>@MMK_R_j</key>
		<integer>-15</integer>
		<key>@MMK_R_n</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_period</key>
		<integer>-81</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-60</integer>
		<key>@MMK_R_O</key>
		<integer>-50</integer>
		<key>@MMK_R_S</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-70</integer>
		<key>@MMK_R_g</key>
		<integer>-70</integer>
		<key>@MMK_R_h</key>
		<integer>-25</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-70</integer>
		<key>@MMK_R_j</key>
		<integer>-60</integer>
		<key>@MMK_R_n</key>
		<integer>-70</integer>
		<key>@MMK_R_o</key>
		<integer>-70</integer>
		<key>@MMK_R_p</key>
		<integer>-70</integer>
		<key>@MMK_R_period</key>
		<integer>-84</integer>
		<key>@MMK_R_s</key>
		<integer>-70</integer>
		<key>@MMK_R_t</key>
		<integer>-40</integer>
		<key>@MMK_R_u</key>
		<integer>-80</integer>
		<key>@MMK_R_v</key>
		<integer>-70</integer>
		<key>@MMK_R_y</key>
		<integer>-70</integer>
		<key>@MMK_R_z</key>
		<integer>-70</integer>
		<key>colon</key>
		<integer>-80</integer>
		<key>semicolon</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_U</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>1</integer>
		<key>@MMK_R_a</key>
		<integer>-25</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-30</integer>
		<key>@MMK_R_n</key>
		<integer>-25</integer>
		<key>@MMK_R_o</key>
		<integer>-41</integer>
		<key>@MMK_R_p</key>
		<integer>-25</integer>
		<key>@MMK_R_period</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-11</integer>
		<key>@MMK_R_M</key>
		<integer>-10</integer>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_S</key>
		<integer>-18</integer>
		<key>@MMK_R_Y</key>
		<integer>-5</integer>
		<key>@MMK_R_a</key>
		<integer>-61</integer>
		<key>@MMK_R_f</key>
		<integer>-36</integer>
		<key>@MMK_R_g</key>
		<integer>-60</integer>
		<key>@MMK_R_h</key>
		<integer>-20</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-91</integer>
		<key>@MMK_R_j</key>
		<integer>-41</integer>
		<key>@MMK_R_n</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-60</integer>
		<key>@MMK_R_p</key>
		<integer>-60</integer>
		<key>@MMK_R_period</key>
		<integer>-100</integer>
		<key>@MMK_R_s</key>
		<integer>-55</integer>
		<key>@MMK_R_t</key>
		<integer>-10</integer>
		<key>@MMK_R_u</key>
		<integer>-55</integer>
		<key>@MMK_R_v</key>
		<integer>-31</integer>
		<key>@MMK_R_y</key>
		<integer>-30</integer>
		<key>@MMK_R_z</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_X</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-10</integer>
		<key>@MMK_R_O</key>
		<integer>-23</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-60</integer>
		<key>@MMK_R_n</key>
		<integer>5</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_p</key>
		<integer>-9</integer>
		<key>@MMK_R_period</key>
		<integer>-5</integer>
		<key>@MMK_R_u</key>
		<integer>-17</integer>
		<key>@MMK_R_v</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>@MMK_R_M</key>
		<integer>-5</integer>
		<key>@MMK_R_O</key>
		<integer>-29</integer>
		<key>@MMK_R_S</key>
		<integer>10</integer>
		<key>@MMK_R_V</key>
		<integer>-5</integer>
		<key>@MMK_R_a</key>
		<integer>-60</integer>
		<key>@MMK_R_f</key>
		<integer>-30</integer>
		<key>@MMK_R_g</key>
		<integer>-70</integer>
		<key>@MMK_R_h</key>
		<integer>-10</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-39</integer>
		<key>@MMK_R_l</key>
		<integer>-14</integer>
		<key>@MMK_R_n</key>
		<integer>-60</integer>
		<key>@MMK_R_o</key>
		<integer>-60</integer>
		<key>@MMK_R_p</key>
		<integer>-60</integer>
		<key>@MMK_R_period</key>
		<integer>-101</integer>
		<key>@MMK_R_s</key>
		<integer>-40</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-60</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
		<key>@MMK_R_y</key>
		<integer>-30</integer>
		<key>@MMK_R_z</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_Z</key>
	<dict>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-40</integer>
		<key>@MMK_R_period</key>
		<integer>-10</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_asterisk</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-70</integer>
		<key>@MMK_R_M</key>
		<integer>-10</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>20</integer>
		<key>@MMK_R_X</key>
		<integer>0</integer>
		<key>@MMK_R_Y</key>
		<integer>10</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_g</key>
		<integer>-50</integer>
		<key>@MMK_R_n</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-40</integer>
		<key>@MMK_R_p</key>
		<integer>-20</integer>
		<key>@MMK_R_period</key>
		<integer>-80</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>0</integer>
		<key>questiondown</key>
		<integer>-70</integer>
		<key>space</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_c</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>0</integer>
		<key>@MMK_R_H</key>
		<integer>-36</integer>
		<key>@MMK_R_T</key>
		<integer>-70</integer>
		<key>@MMK_R_V</key>
		<integer>-50</integer>
		<key>@MMK_R_X</key>
		<integer>10</integer>
		<key>@MMK_R_Y</key>
		<integer>-25</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_g</key>
		<integer>10</integer>
		<key>@MMK_R_h</key>
		<integer>5</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>0</integer>
		<key>@MMK_R_period</key>
		<integer>-41</integer>
	</dict>
	<key>@MMK_L_e</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-13</integer>
		<key>@MMK_R_H</key>
		<integer>-36</integer>
		<key>@MMK_R_T</key>
		<integer>-70</integer>
		<key>@MMK_R_V</key>
		<integer>-60</integer>
		<key>@MMK_R_X</key>
		<integer>10</integer>
		<key>@MMK_R_Y</key>
		<integer>-45</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-66</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_h</key>
		<integer>5</integer>
		<key>@MMK_R_o</key>
		<integer>3</integer>
		<key>@MMK_R_period</key>
		<integer>-41</integer>
	</dict>
	<key>@MMK_L_f</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_H</key>
		<integer>34</integer>
		<key>@MMK_R_J</key>
		<integer>30</integer>
		<key>@MMK_R_S</key>
		<integer>25</integer>
		<key>@MMK_R_T</key>
		<integer>20</integer>
		<key>@MMK_R_U</key>
		<integer>110</integer>
		<key>@MMK_R_V</key>
		<integer>40</integer>
		<key>@MMK_R_X</key>
		<integer>110</integer>
		<key>@MMK_R_Y</key>
		<integer>60</integer>
		<key>@MMK_R_Z</key>
		<integer>30</integer>
		<key>@MMK_R_a</key>
		<integer>-15</integer>
		<key>@MMK_R_asterisk</key>
		<integer>44</integer>
		<key>@MMK_R_g</key>
		<integer>-35</integer>
		<key>@MMK_R_o</key>
		<integer>-27</integer>
		<key>@MMK_R_period</key>
		<integer>-46</integer>
		<key>exclam</key>
		<integer>9</integer>
		<key>question</key>
		<integer>130</integer>
	</dict>
	<key>@MMK_L_g</key>
	<dict>
		<key>@MMK_R_H</key>
		<integer>-30</integer>
		<key>@MMK_R_M</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-70</integer>
		<key>@MMK_R_V</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
		<key>@MMK_R_Z</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-15</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-41</integer>
		<key>@MMK_R_f</key>
		<integer>-15</integer>
		<key>@MMK_R_o</key>
		<integer>5</integer>
		<key>quoteright</key>
		<integer>35</integer>
	</dict>
	<key>@MMK_L_hyphen</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-55</integer>
		<key>@MMK_R_H</key>
		<integer>-30</integer>
		<key>@MMK_R_J</key>
		<integer>-30</integer>
		<key>@MMK_R_M</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-70</integer>
		<key>@MMK_R_U</key>
		<integer>-30</integer>
		<key>@MMK_R_V</key>
		<integer>-91</integer>
		<key>@MMK_R_X</key>
		<integer>-60</integer>
		<key>@MMK_R_Y</key>
		<integer>-39</integer>
		<key>@MMK_R_Z</key>
		<integer>26</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
		<key>@MMK_R_y</key>
		<integer>-30</integer>
		<key>space</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_i</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-46</integer>
	</dict>
	<key>@MMK_L_j</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-60</integer>
		<key>@MMK_R_period</key>
		<integer>-51</integer>
	</dict>
	<key>@MMK_L_l</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>-10</integer>
		<key>@MMK_R_f</key>
		<integer>-5</integer>
		<key>@MMK_R_p</key>
		<integer>5</integer>
		<key>@MMK_R_v</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_n</key>
	<dict>
		<key>@MMK_R_H</key>
		<integer>-30</integer>
		<key>@MMK_R_J</key>
		<integer>-30</integer>
		<key>@MMK_R_S</key>
		<integer>-15</integer>
		<key>@MMK_R_T</key>
		<integer>-70</integer>
		<key>@MMK_R_V</key>
		<integer>-60</integer>
		<key>@MMK_R_Y</key>
		<integer>-60</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-80</integer>
		<key>@MMK_R_f</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>-24</integer>
		<key>quoteright</key>
		<integer>-61</integer>
	</dict>
	<key>@MMK_L_o</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_H</key>
		<integer>-20</integer>
		<key>@MMK_R_J</key>
		<integer>-51</integer>
		<key>@MMK_R_T</key>
		<integer>-70</integer>
		<key>@MMK_R_V</key>
		<integer>-60</integer>
		<key>@MMK_R_X</key>
		<integer>-25</integer>
		<key>@MMK_R_Y</key>
		<integer>-60</integer>
		<key>@MMK_R_Z</key>
		<integer>-20</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-61</integer>
		<key>@MMK_R_f</key>
		<integer>-20</integer>
		<key>@MMK_R_period</key>
		<integer>-61</integer>
		<key>@MMK_R_t</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>-17</integer>
		<key>@MMK_R_y</key>
		<integer>-17</integer>
		<key>@MMK_R_z</key>
		<integer>-20</integer>
		<key>quoteright</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_period</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-50</integer>
		<key>@MMK_R_T</key>
		<integer>-84</integer>
		<key>@MMK_R_U</key>
		<integer>-50</integer>
		<key>@MMK_R_V</key>
		<integer>-100</integer>
		<key>@MMK_R_Y</key>
		<integer>-101</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-80</integer>
		<key>@MMK_R_h</key>
		<integer>-61</integer>
		<key>@MMK_R_o</key>
		<integer>-61</integer>
		<key>@MMK_R_p</key>
		<integer>-46</integer>
		<key>@MMK_R_u</key>
		<integer>-61</integer>
		<key>@MMK_R_v</key>
		<integer>-75</integer>
		<key>@MMK_R_y</key>
		<integer>-70</integer>
		<key>space</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-10</integer>
		<key>@MMK_R_H</key>
		<integer>-10</integer>
		<key>@MMK_R_J</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-90</integer>
		<key>@MMK_R_V</key>
		<integer>-30</integer>
		<key>@MMK_R_X</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>-40</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_asterisk</key>
		<integer>10</integer>
		<key>@MMK_R_h</key>
		<integer>10</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_period</key>
		<integer>-96</integer>
		<key>@MMK_R_u</key>
		<integer>-5</integer>
		<key>@MMK_R_v</key>
		<integer>18</integer>
	</dict>
	<key>@MMK_L_s</key>
	<dict>
		<key>@MMK_R_H</key>
		<integer>-46</integer>
		<key>@MMK_R_T</key>
		<integer>-70</integer>
		<key>@MMK_R_V</key>
		<integer>-55</integer>
		<key>@MMK_R_X</key>
		<integer>-46</integer>
		<key>@MMK_R_Y</key>
		<integer>-40</integer>
		<key>@MMK_R_period</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_t</key>
	<dict>
		<key>@MMK_R_H</key>
		<integer>-25</integer>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_V</key>
		<integer>-20</integer>
		<key>@MMK_R_X</key>
		<integer>-10</integer>
		<key>@MMK_R_Y</key>
		<integer>-25</integer>
		<key>@MMK_R_asterisk</key>
		<integer>30</integer>
		<key>@MMK_R_g</key>
		<integer>-30</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_period</key>
		<integer>-46</integer>
	</dict>
	<key>@MMK_L_u</key>
	<dict>
		<key>@MMK_R_H</key>
		<integer>10</integer>
		<key>@MMK_R_J</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-80</integer>
		<key>@MMK_R_V</key>
		<integer>-55</integer>
		<key>@MMK_R_Y</key>
		<integer>-55</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-24</integer>
		<key>@MMK_R_f</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_v</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-14</integer>
		<key>@MMK_R_H</key>
		<integer>-36</integer>
		<key>@MMK_R_J</key>
		<integer>-56</integer>
		<key>@MMK_R_M</key>
		<integer>-30</integer>
		<key>@MMK_R_S</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-70</integer>
		<key>@MMK_R_V</key>
		<integer>-31</integer>
		<key>@MMK_R_X</key>
		<integer>-25</integer>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
		<key>@MMK_R_a</key>
		<integer>-19</integer>
		<key>@MMK_R_asterisk</key>
		<integer>0</integer>
		<key>@MMK_R_g</key>
		<integer>-25</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-30</integer>
		<key>@MMK_R_o</key>
		<integer>-17</integer>
		<key>@MMK_R_period</key>
		<integer>-75</integer>
	</dict>
	<key>@MMK_L_x</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>4</integer>
		<key>@MMK_R_T</key>
		<integer>-70</integer>
		<key>@MMK_R_V</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>-40</integer>
		<key>@MMK_R_a</key>
		<integer>-25</integer>
		<key>@MMK_R_asterisk</key>
		<integer>0</integer>
		<key>@MMK_R_g</key>
		<integer>-25</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-25</integer>
		<key>@MMK_R_o</key>
		<integer>-17</integer>
	</dict>
	<key>@MMK_L_y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-14</integer>
		<key>@MMK_R_T</key>
		<integer>-70</integer>
		<key>@MMK_R_V</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-30</integer>
		<key>@MMK_R_o</key>
		<integer>-17</integer>
		<key>@MMK_R_period</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_z</key>
	<dict>
		<key>@MMK_R_H</key>
		<integer>-15</integer>
		<key>@MMK_R_J</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-70</integer>
		<key>@MMK_R_V</key>
		<integer>-61</integer>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
	</dict>
	<key>N</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_h</key>
		<integer>-5</integer>
		<key>@MMK_R_o</key>
		<integer>-14</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>@MMK_R_H</key>
		<integer>-25</integer>
		<key>@MMK_R_J</key>
		<integer>-20</integer>
	</dict>
	<key>eight.numr</key>
	<dict>
		<key>fraction</key>
		<integer>10</integer>
	</dict>
	<key>five.numr</key>
	<dict>
		<key>fraction</key>
		<integer>5</integer>
	</dict>
	<key>four.numr</key>
	<dict>
		<key>fraction</key>
		<integer>35</integer>
	</dict>
	<key>fraction</key>
	<dict>
		<key>five.dnom</key>
		<integer>40</integer>
		<key>four.dnom</key>
		<integer>0</integer>
		<key>nine.dnom</key>
		<integer>20</integer>
		<key>one.dnom</key>
		<integer>110</integer>
		<key>seven.dnom</key>
		<integer>50</integer>
		<key>six.dnom</key>
		<integer>-10</integer>
		<key>three.dnom</key>
		<integer>40</integer>
	</dict>
	<key>nine.numr</key>
	<dict>
		<key>fraction</key>
		<integer>-24</integer>
	</dict>
	<key>one.numr</key>
	<dict>
		<key>fraction</key>
		<integer>35</integer>
	</dict>
	<key>question</key>
	<dict>
		<key>@MMK_R_asterisk</key>
		<integer>40</integer>
	</dict>
	<key>questiondown</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
	</dict>
	<key>seven.numr</key>
	<dict>
		<key>fraction</key>
		<integer>-15</integer>
	</dict>
	<key>six.numr</key>
	<dict>
		<key>fraction</key>
		<integer>30</integer>
	</dict>
	<key>space</key>
	<dict>
		<key>@MMK_R_asterisk</key>
		<integer>-20</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-20</integer>
		<key>@MMK_R_period</key>
		<integer>-20</integer>
	</dict>
	<key>three.numr</key>
	<dict>
		<key>fraction</key>
		<integer>15</integer>
	</dict>
	<key>two.numr</key>
	<dict>
		<key>fraction</key>
		<integer>45</integer>
	</dict>
	<key>zero.numr</key>
	<dict>
		<key>fraction</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
