<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,0.25,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>FA91AE6F-CE46-462A-A5B4-C38BCDC0BBC5</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.A</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.a.sc</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
