<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0.75,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>978A3743-81BB-4446-B627-38DF95F525D9</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.eta</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
