<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>90E3865D-525B-4D07-8A15-D75EA3945A93</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ge-cy</key>
      <integer>13</integer>
    </dict>
  </dict>
</plist>
