<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>09B042AC-B27F-4A8D-A437-8C956BA9360B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.v</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
