<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0.75,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D5DA3051-9A45-49E6-B449-BCB1BE3C742A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ze-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ze-cy.001</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
