<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D962DB36-9B9D-487D-BAD6-B57386F38DB3</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.lambda</key>
      <integer>17</integer>
    </dict>
  </dict>
</plist>
