<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>4D21B2CF-F4AB-4B61-BAC7-487815712E07</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.iota</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
