<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0.75,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E4EE8AF6-E3B2-4F88-9394-D5399D51867A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.x</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
