<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B91B1749-CC41-4DD6-8C6F-ED602E625ABF</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.at</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
