<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>2498DF58-A0ED-47E5-87E3-9553780EED59</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.be-cy</key>
      <integer>8</integer>
    </dict>
  </dict>
</plist>
