<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B3007378-6AC5-4F8A-B1B9-542655DD08F0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.alpha</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.beta</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.chi</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.delta</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.epsilon</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eta</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gamma</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.iota</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kappa</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lambda</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.mu</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nu</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.omicron</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.phi</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.pi</key>
      <integer>7</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.psi</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rho</key>
      <integer>7</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sigma</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sigmafinal</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tau</key>
      <integer>7</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.theta</key>
      <integer>7</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.upsilon</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.xi</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zeta</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
