<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Nov 10 17, 12:56</string>
      <string>glyphs.N_ov 10 17, 12_56</string>
    </array>
    <array>
      <string>Nov 10 17, 12:56.background</string>
      <string>glyphs.N_ov 10 17, 12_56.background</string>
    </array>
    <array>
      <string>Nov 8 17, 19:58</string>
      <string>glyphs.N_ov 8 17, 19_58</string>
    </array>
    <array>
      <string>Nov 14 17, 12:08</string>
      <string>glyphs.N_ov 14 17, 12_08</string>
    </array>
    <array>
      <string>Nov 14 17, 12:08.background</string>
      <string>glyphs.N_ov 14 17, 12_08.background</string>
    </array>
    <array>
      <string>Dec 1 16, 15:59</string>
      <string>glyphs.D_ec 1 16, 15_59</string>
    </array>
    <array>
      <string>Dec 1 16, 15:59.background</string>
      <string>glyphs.D_ec 1 16, 15_59.background</string>
    </array>
    <array>
      <string>Dec 12 16, 09:45</string>
      <string>glyphs.D_ec 12 16, 09_45</string>
    </array>
    <array>
      <string>Dec 1 16, 11:55</string>
      <string>glyphs.D_ec 1 16, 11_55</string>
    </array>
    <array>
      <string>Dec 1 16, 10:42</string>
      <string>glyphs.D_ec 1 16, 10_42</string>
    </array>
    <array>
      <string>Dec 1 16, 10:42.background</string>
      <string>glyphs.D_ec 1 16, 10_42.background</string>
    </array>
    <array>
      <string>Dec 1 16, 10:48</string>
      <string>glyphs.D_ec 1 16, 10_48</string>
    </array>
    <array>
      <string>Dec 1 16, 10:31</string>
      <string>glyphs.D_ec 1 16, 10_31</string>
    </array>
    <array>
      <string>Dec 1 16, 10:31.background</string>
      <string>glyphs.D_ec 1 16, 10_31.background</string>
    </array>
    <array>
      <string>Dec 21 16, 19:51</string>
      <string>glyphs.D_ec 21 16, 19_51</string>
    </array>
    <array>
      <string>Dec 21 16, 19:51.background</string>
      <string>glyphs.D_ec 21 16, 19_51.background</string>
    </array>
    <array>
      <string>Dec 22 16, 07:38</string>
      <string>glyphs.D_ec 22 16, 07_38</string>
    </array>
    <array>
      <string>Dec 22 16, 07:38.background</string>
      <string>glyphs.D_ec 22 16, 07_38.background</string>
    </array>
    <array>
      <string>Mar 1 17, 18:57</string>
      <string>glyphs.M_ar 1 17, 18_57</string>
    </array>
    <array>
      <string>Mar 1 17, 18:57.background</string>
      <string>glyphs.M_ar 1 17, 18_57.background</string>
    </array>
    <array>
      <string>Mar 1 17, 18:58</string>
      <string>glyphs.M_ar 1 17, 18_58</string>
    </array>
    <array>
      <string>Mar 1 17, 18:58.background</string>
      <string>glyphs.M_ar 1 17, 18_58.background</string>
    </array>
    <array>
      <string>Mar 1 17, 19:02</string>
      <string>glyphs.M_ar 1 17, 19_02</string>
    </array>
    <array>
      <string>Mar 1 17, 19:02.background</string>
      <string>glyphs.M_ar 1 17, 19_02.background</string>
    </array>
    <array>
      <string>Dec 16 16, 12:21</string>
      <string>glyphs.D_ec 16 16, 12_21</string>
    </array>
    <array>
      <string>Dec 16 16, 12:21.background</string>
      <string>glyphs.D_ec 16 16, 12_21.background</string>
    </array>
    <array>
      <string>Dec 21 16, 20:15</string>
      <string>glyphs.D_ec 21 16, 20_15</string>
    </array>
    <array>
      <string>Mar 9 17, 17:05</string>
      <string>glyphs.M_ar 9 17, 17_05</string>
    </array>
    <array>
      <string>Mar 23 17, 18:38</string>
      <string>glyphs.M_ar 23 17, 18_38</string>
    </array>
    <array>
      <string>Mar 23 17, 18:38.background</string>
      <string>glyphs.M_ar 23 17, 18_38.background</string>
    </array>
    <array>
      <string>Mar 23 17, 18:41</string>
      <string>glyphs.M_ar 23 17, 18_41</string>
    </array>
    <array>
      <string>Mar 23 17, 18:41.background</string>
      <string>glyphs.M_ar 23 17, 18_41.background</string>
    </array>
    <array>
      <string>Mar 23 17, 18:44</string>
      <string>glyphs.M_ar 23 17, 18_44</string>
    </array>
    <array>
      <string>Mar 23 17, 18:44.background</string>
      <string>glyphs.M_ar 23 17, 18_44.background</string>
    </array>
    <array>
      <string>Mar 23 17, 18:52</string>
      <string>glyphs.M_ar 23 17, 18_52</string>
    </array>
    <array>
      <string>Mar 23 17, 18:52.background</string>
      <string>glyphs.M_ar 23 17, 18_52.background</string>
    </array>
    <array>
      <string>Mar 23 17, 19:03</string>
      <string>glyphs.M_ar 23 17, 19_03</string>
    </array>
    <array>
      <string>Mar 23 17, 19:03.background</string>
      <string>glyphs.M_ar 23 17, 19_03.background</string>
    </array>
    <array>
      <string>Mar 27 17, 10:54</string>
      <string>glyphs.M_ar 27 17, 10_54</string>
    </array>
    <array>
      <string>Mar 27 17, 10:54.background</string>
      <string>glyphs.M_ar 27 17, 10_54.background</string>
    </array>
    <array>
      <string>Mar 27 17, 18:17</string>
      <string>glyphs.M_ar 27 17, 18_17</string>
    </array>
    <array>
      <string>Mar 27 17, 18:17.background</string>
      <string>glyphs.M_ar 27 17, 18_17.background</string>
    </array>
    <array>
      <string>Regular Nov 15 16, 18:28</string>
      <string>glyphs.R_egular N_ov 15 16, 18_28</string>
    </array>
    <array>
      <string>Regular Oct 25 16, 11:26</string>
      <string>glyphs.R_egular O_ct 25 16, 11_26</string>
    </array>
    <array>
      <string>Regular Oct 25 16, 11:26.background</string>
      <string>glyphs.R_egular O_ct 25 16, 11_26.background</string>
    </array>
    <array>
      <string>Regular Oct 25 16, 14:34</string>
      <string>glyphs.R_egular O_ct 25 16, 14_34</string>
    </array>
    <array>
      <string>Regular Oct 25 16, 14:34.background</string>
      <string>glyphs.R_egular O_ct 25 16, 14_34.background</string>
    </array>
    <array>
      <string>Regular Oct 26 16, 15:54</string>
      <string>glyphs.R_egular O_ct 26 16, 15_54</string>
    </array>
    <array>
      <string>Regular Oct 26 16, 15:54.background</string>
      <string>glyphs.R_egular O_ct 26 16, 15_54.background</string>
    </array>
    <array>
      <string>Nov 16 16, 19:29</string>
      <string>glyphs.N_ov 16 16, 19_29</string>
    </array>
    <array>
      <string>Nov 16 16, 19:29.background</string>
      <string>glyphs.N_ov 16 16, 19_29.background</string>
    </array>
    <array>
      <string>Nov 25 16, 15:15</string>
      <string>glyphs.N_ov 25 16, 15_15</string>
    </array>
    <array>
      <string>Nov 25 16, 15:15.background</string>
      <string>glyphs.N_ov 25 16, 15_15.background</string>
    </array>
    <array>
      <string>Nov 28 16, 13:10</string>
      <string>glyphs.N_ov 28 16, 13_10</string>
    </array>
    <array>
      <string>Nov 28 16, 13:10.background</string>
      <string>glyphs.N_ov 28 16, 13_10.background</string>
    </array>
    <array>
      <string>Nov 22 16, 16:59</string>
      <string>glyphs.N_ov 22 16, 16_59</string>
    </array>
    <array>
      <string>Nov 22 16, 16:59.background</string>
      <string>glyphs.N_ov 22 16, 16_59.background</string>
    </array>
    <array>
      <string>Nov 30 16, 12:39</string>
      <string>glyphs.N_ov 30 16, 12_39</string>
    </array>
    <array>
      <string>Nov 30 16, 12:39.background</string>
      <string>glyphs.N_ov 30 16, 12_39.background</string>
    </array>
    <array>
      <string>Nov 22 16, 17:41</string>
      <string>glyphs.N_ov 22 16, 17_41</string>
    </array>
    <array>
      <string>Nov 22 16, 17:41.background</string>
      <string>glyphs.N_ov 22 16, 17_41.background</string>
    </array>
    <array>
      <string>Nov 30 16, 17:20</string>
      <string>glyphs.N_ov 30 16, 17_20</string>
    </array>
    <array>
      <string>Nov 30 16, 17:20.background</string>
      <string>glyphs.N_ov 30 16, 17_20.background</string>
    </array>
    <array>
      <string>Dec 14 16, 10:59</string>
      <string>glyphs.D_ec 14 16, 10_59</string>
    </array>
    <array>
      <string>Dec 14 16, 10:59.background</string>
      <string>glyphs.D_ec 14 16, 10_59.background</string>
    </array>
    <array>
      <string>Dec 14 16, 12:35</string>
      <string>glyphs.D_ec 14 16, 12_35</string>
    </array>
    <array>
      <string>Dec 14 16, 12:35.background</string>
      <string>glyphs.D_ec 14 16, 12_35.background</string>
    </array>
    <array>
      <string>Regular Oct 26 16, 16:00</string>
      <string>glyphs.R_egular O_ct 26 16, 16_00</string>
    </array>
    <array>
      <string>Regular Oct 26 16, 16:00.background</string>
      <string>glyphs.R_egular O_ct 26 16, 16_00.background</string>
    </array>
    <array>
      <string>Nov 16 16, 12:23</string>
      <string>glyphs.N_ov 16 16, 12_23</string>
    </array>
    <array>
      <string>Nov 16 16, 12:23.background</string>
      <string>glyphs.N_ov 16 16, 12_23.background</string>
    </array>
    <array>
      <string>Regular Oct 28 16, 17:13</string>
      <string>glyphs.R_egular O_ct 28 16, 17_13</string>
    </array>
    <array>
      <string>Regular Oct 28 16, 17:13.background</string>
      <string>glyphs.R_egular O_ct 28 16, 17_13.background</string>
    </array>
    <array>
      <string>Nov 30 16, 15:01</string>
      <string>glyphs.N_ov 30 16, 15_01</string>
    </array>
    <array>
      <string>Nov 30 16, 15:01.background</string>
      <string>glyphs.N_ov 30 16, 15_01.background</string>
    </array>
    <array>
      <string>Regular Oct 26 16, 19:57</string>
      <string>glyphs.R_egular O_ct 26 16, 19_57</string>
    </array>
    <array>
      <string>Regular Oct 26 16, 19:57.background</string>
      <string>glyphs.R_egular O_ct 26 16, 19_57.background</string>
    </array>
    <array>
      <string>Regular Oct 26 16, 21:00</string>
      <string>glyphs.R_egular O_ct 26 16, 21_00</string>
    </array>
    <array>
      <string>Regular Oct 26 16, 21:00.background</string>
      <string>glyphs.R_egular O_ct 26 16, 21_00.background</string>
    </array>
    <array>
      <string>Regular Oct 26 16, 21:20</string>
      <string>glyphs.R_egular O_ct 26 16, 21_20</string>
    </array>
    <array>
      <string>Regular Oct 26 16, 21:20.background</string>
      <string>glyphs.R_egular O_ct 26 16, 21_20.background</string>
    </array>
    <array>
      <string>Nov 17 16, 15:33</string>
      <string>glyphs.N_ov 17 16, 15_33</string>
    </array>
    <array>
      <string>Nov 17 16, 15:33.background</string>
      <string>glyphs.N_ov 17 16, 15_33.background</string>
    </array>
    <array>
      <string>Nov 22 16, 18:02</string>
      <string>glyphs.N_ov 22 16, 18_02</string>
    </array>
    <array>
      <string>Nov 22 16, 18:02.background</string>
      <string>glyphs.N_ov 22 16, 18_02.background</string>
    </array>
    <array>
      <string>Nov 28 16, 13:21</string>
      <string>glyphs.N_ov 28 16, 13_21</string>
    </array>
    <array>
      <string>Nov 28 16, 13:21.background</string>
      <string>glyphs.N_ov 28 16, 13_21.background</string>
    </array>
    <array>
      <string>Regular Oct 28 16, 17:37</string>
      <string>glyphs.R_egular O_ct 28 16, 17_37</string>
    </array>
    <array>
      <string>Regular Oct 28 16, 17:37.background</string>
      <string>glyphs.R_egular O_ct 28 16, 17_37.background</string>
    </array>
    <array>
      <string>Nov 22 16, 18:07</string>
      <string>glyphs.N_ov 22 16, 18_07</string>
    </array>
    <array>
      <string>Nov 22 16, 18:07.background</string>
      <string>glyphs.N_ov 22 16, 18_07.background</string>
    </array>
    <array>
      <string>Regular Oct 26 16, 20:01</string>
      <string>glyphs.R_egular O_ct 26 16, 20_01</string>
    </array>
    <array>
      <string>Regular Oct 26 16, 20:01.background</string>
      <string>glyphs.R_egular O_ct 26 16, 20_01.background</string>
    </array>
    <array>
      <string>Regular Oct 26 16, 17:45</string>
      <string>glyphs.R_egular O_ct 26 16, 17_45</string>
    </array>
    <array>
      <string>Regular Oct 26 16, 17:45.background</string>
      <string>glyphs.R_egular O_ct 26 16, 17_45.background</string>
    </array>
    <array>
      <string>Regular Oct 26 16, 20:04</string>
      <string>glyphs.R_egular O_ct 26 16, 20_04</string>
    </array>
    <array>
      <string>Regular Oct 26 16, 20:04.background</string>
      <string>glyphs.R_egular O_ct 26 16, 20_04.background</string>
    </array>
    <array>
      <string>Nov 30 16, 16:31</string>
      <string>glyphs.N_ov 30 16, 16_31</string>
    </array>
    <array>
      <string>Nov 30 16, 16:31.background</string>
      <string>glyphs.N_ov 30 16, 16_31.background</string>
    </array>
    <array>
      <string>Dec 14 16, 12:12</string>
      <string>glyphs.D_ec 14 16, 12_12</string>
    </array>
    <array>
      <string>Dec 14 16, 12:12.background</string>
      <string>glyphs.D_ec 14 16, 12_12.background</string>
    </array>
    <array>
      <string>Regular Oct 26 16, 20:21</string>
      <string>glyphs.R_egular O_ct 26 16, 20_21</string>
    </array>
    <array>
      <string>Regular Oct 26 16, 20:21.background</string>
      <string>glyphs.R_egular O_ct 26 16, 20_21.background</string>
    </array>
    <array>
      <string>Regular Oct 26 16, 16:48</string>
      <string>glyphs.R_egular O_ct 26 16, 16_48</string>
    </array>
    <array>
      <string>Regular Oct 26 16, 16:48.background</string>
      <string>glyphs.R_egular O_ct 26 16, 16_48.background</string>
    </array>
    <array>
      <string>Nov 30 16, 15:32</string>
      <string>glyphs.N_ov 30 16, 15_32</string>
    </array>
    <array>
      <string>Nov 30 16, 15:32.background</string>
      <string>glyphs.N_ov 30 16, 15_32.background</string>
    </array>
    <array>
      <string>Regular Oct 26 16, 16:17</string>
      <string>glyphs.R_egular O_ct 26 16, 16_17</string>
    </array>
    <array>
      <string>Regular Oct 26 16, 16:17.background</string>
      <string>glyphs.R_egular O_ct 26 16, 16_17.background</string>
    </array>
    <array>
      <string>Nov 22 16, 18:19</string>
      <string>glyphs.N_ov 22 16, 18_19</string>
    </array>
    <array>
      <string>Nov 22 16, 18:19.background</string>
      <string>glyphs.N_ov 22 16, 18_19.background</string>
    </array>
    <array>
      <string>Nov 16 16, 11:52</string>
      <string>glyphs.N_ov 16 16, 11_52</string>
    </array>
    <array>
      <string>Nov 16 16, 11:52.background</string>
      <string>glyphs.N_ov 16 16, 11_52.background</string>
    </array>
    <array>
      <string>Nov 22 16, 18:22</string>
      <string>glyphs.N_ov 22 16, 18_22</string>
    </array>
    <array>
      <string>Nov 22 16, 18:22.background</string>
      <string>glyphs.N_ov 22 16, 18_22.background</string>
    </array>
    <array>
      <string>Nov 22 16, 18:23</string>
      <string>glyphs.N_ov 22 16, 18_23</string>
    </array>
    <array>
      <string>Nov 22 16, 18:23.background</string>
      <string>glyphs.N_ov 22 16, 18_23.background</string>
    </array>
    <array>
      <string>Regular Nov 5 16, 17:42</string>
      <string>glyphs.R_egular N_ov 5 16, 17_42</string>
    </array>
    <array>
      <string>Regular Nov 5 16, 15:14</string>
      <string>glyphs.R_egular N_ov 5 16, 15_14</string>
    </array>
    <array>
      <string>Regular Nov 5 16, 15:14.background</string>
      <string>glyphs.R_egular N_ov 5 16, 15_14.background</string>
    </array>
    <array>
      <string>Regular Nov 5 16, 17:46</string>
      <string>glyphs.R_egular N_ov 5 16, 17_46</string>
    </array>
    <array>
      <string>Regular Nov 5 16, 17:46.background</string>
      <string>glyphs.R_egular N_ov 5 16, 17_46.background</string>
    </array>
    <array>
      <string>Regular Nov 5 16, 16:10</string>
      <string>glyphs.R_egular N_ov 5 16, 16_10</string>
    </array>
    <array>
      <string>Regular Nov 5 16, 16:10.background</string>
      <string>glyphs.R_egular N_ov 5 16, 16_10.background</string>
    </array>
    <array>
      <string>Regular Nov 5 16, 17:34</string>
      <string>glyphs.R_egular N_ov 5 16, 17_34</string>
    </array>
    <array>
      <string>Regular Nov 5 16, 17:34.background</string>
      <string>glyphs.R_egular N_ov 5 16, 17_34.background</string>
    </array>
    <array>
      <string>Nov 28 16, 11:31</string>
      <string>glyphs.N_ov 28 16, 11_31</string>
    </array>
    <array>
      <string>Nov 28 16, 11:31.background</string>
      <string>glyphs.N_ov 28 16, 11_31.background</string>
    </array>
    <array>
      <string>Regular Nov 15 16, 18:28.background</string>
      <string>glyphs.R_egular N_ov 15 16, 18_28.background</string>
    </array>
    <array>
      <string>Nov 22 16, 18:56</string>
      <string>glyphs.N_ov 22 16, 18_56</string>
    </array>
    <array>
      <string>Nov 22 16, 18:56.background</string>
      <string>glyphs.N_ov 22 16, 18_56.background</string>
    </array>
    <array>
      <string>AnchorBackup Regular</string>
      <string>glyphs.A_nchorB_ackup R_egular</string>
    </array>
  </array>
</plist>
