<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>4AEC3A70-88CB-406A-B83E-E9CCB60CAD40</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.lira</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
