<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B48F1F3B-980F-4C9D-A065-29EA89211300</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.kadescender-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
