<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0.75,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F05C8D7F-2FBA-4EF6-A5A8-EA9F7D5B8E97</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.theta</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
