<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-12</integer>
		<key>@MMK_R_O</key>
		<integer>-15</integer>
		<key>@MMK_R_T</key>
		<integer>-53</integer>
		<key>@MMK_R_U</key>
		<integer>-12</integer>
		<key>@MMK_R_V</key>
		<integer>-24</integer>
		<key>@MMK_R_X</key>
		<integer>-6</integer>
		<key>@MMK_R_Y</key>
		<integer>-51</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-87</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-48</integer>
		<key>@MMK_R_period</key>
		<integer>1</integer>
		<key>colon</key>
		<integer>1</integer>
		<key>semicolon</key>
		<integer>1</integer>
	</dict>
	<key>@MMK_L_B</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-1</integer>
		<key>@MMK_R_V</key>
		<integer>-1</integer>
		<key>@MMK_R_Y</key>
		<integer>-3</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-38</integer>
		<key>@MMK_R_period</key>
		<integer>-38</integer>
	</dict>
	<key>@MMK_L_C</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>3</integer>
		<key>@MMK_R_J</key>
		<integer>2</integer>
		<key>@MMK_R_O</key>
		<integer>-9</integer>
		<key>@MMK_R_T</key>
		<integer>0</integer>
		<key>@MMK_R_Y</key>
		<integer>2</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-31</integer>
	</dict>
	<key>@MMK_L_E</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>2</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-34</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-25</integer>
		<key>@MMK_R_J</key>
		<integer>34</integer>
		<key>@MMK_R_O</key>
		<integer>-6</integer>
		<key>@MMK_R_S</key>
		<integer>-9</integer>
		<key>@MMK_R_T</key>
		<integer>24</integer>
		<key>@MMK_R_V</key>
		<integer>19</integer>
		<key>@MMK_R_X</key>
		<integer>13</integer>
		<key>@MMK_R_Y</key>
		<integer>23</integer>
		<key>@MMK_R_Z</key>
		<integer>6</integer>
		<key>@MMK_R_asterisk</key>
		<integer>3</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-8</integer>
		<key>@MMK_R_period</key>
		<integer>-103</integer>
	</dict>
	<key>@MMK_L_G</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>5</integer>
	</dict>
	<key>@MMK_L_H</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-4</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-29</integer>
		<key>@MMK_R_period</key>
		<integer>-29</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>9</integer>
		<key>@MMK_R_H</key>
		<integer>0</integer>
		<key>@MMK_R_J</key>
		<integer>-9</integer>
		<key>@MMK_R_O</key>
		<integer>-34</integer>
		<key>@MMK_R_T</key>
		<integer>-53</integer>
		<key>@MMK_R_U</key>
		<integer>-3</integer>
		<key>@MMK_R_V</key>
		<integer>-53</integer>
		<key>@MMK_R_Y</key>
		<integer>-55</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-102</integer>
	</dict>
	<key>@MMK_L_M</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-10</integer>
		<key>@MMK_R_Y</key>
		<integer>-12</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-35</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-30</integer>
		<key>@MMK_R_period</key>
		<integer>1</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-15</integer>
		<key>@MMK_R_J</key>
		<integer>4</integer>
		<key>@MMK_R_T</key>
		<integer>-38</integer>
		<key>@MMK_R_V</key>
		<integer>-19</integer>
		<key>@MMK_R_X</key>
		<integer>-22</integer>
		<key>@MMK_R_Y</key>
		<integer>-36</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-27</integer>
		<key>@MMK_R_period</key>
		<integer>-42</integer>
	</dict>
	<key>@MMK_L_P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-52</integer>
		<key>@MMK_R_J</key>
		<integer>4</integer>
		<key>@MMK_R_T</key>
		<integer>-2</integer>
		<key>@MMK_R_V</key>
		<integer>-15</integer>
		<key>@MMK_R_X</key>
		<integer>-4</integer>
		<key>@MMK_R_Y</key>
		<integer>-17</integer>
		<key>@MMK_R_asterisk</key>
		<integer>3</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-66</integer>
		<key>@MMK_R_period</key>
		<integer>-178</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>-33</integer>
		<key>@MMK_R_U</key>
		<integer>-18</integer>
		<key>@MMK_R_V</key>
		<integer>-23</integer>
		<key>@MMK_R_Y</key>
		<integer>-29</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-3</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-66</integer>
		<key>@MMK_R_period</key>
		<integer>3</integer>
	</dict>
	<key>@MMK_L_S</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-18</integer>
		<key>@MMK_R_V</key>
		<integer>0</integer>
		<key>@MMK_R_Y</key>
		<integer>3</integer>
		<key>@MMK_R_period</key>
		<integer>-68</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-55</integer>
		<key>@MMK_R_J</key>
		<integer>2</integer>
		<key>@MMK_R_O</key>
		<integer>-43</integer>
		<key>@MMK_R_S</key>
		<integer>-18</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-67</integer>
		<key>@MMK_R_period</key>
		<integer>-85</integer>
		<key>colon</key>
		<integer>-72</integer>
		<key>semicolon</key>
		<integer>-77</integer>
	</dict>
	<key>@MMK_L_U</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-3</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-29</integer>
		<key>@MMK_R_period</key>
		<integer>-42</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-15</integer>
		<key>@MMK_R_J</key>
		<integer>2</integer>
		<key>@MMK_R_M</key>
		<integer>-10</integer>
		<key>@MMK_R_O</key>
		<integer>-13</integer>
		<key>@MMK_R_S</key>
		<integer>-16</integer>
		<key>@MMK_R_Y</key>
		<integer>-3</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-82</integer>
		<key>@MMK_R_period</key>
		<integer>-90</integer>
	</dict>
	<key>@MMK_L_X</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-9</integer>
		<key>@MMK_R_O</key>
		<integer>-22</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-57</integer>
		<key>@MMK_R_period</key>
		<integer>-3</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_J</key>
		<integer>4</integer>
		<key>@MMK_R_M</key>
		<integer>-12</integer>
		<key>@MMK_R_O</key>
		<integer>-35</integer>
		<key>@MMK_R_S</key>
		<integer>-4</integer>
		<key>@MMK_R_V</key>
		<integer>1</integer>
		<key>@MMK_R_asterisk</key>
		<integer>4</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-64</integer>
		<key>@MMK_R_period</key>
		<integer>-98</integer>
	</dict>
	<key>@MMK_L_Z</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>-6</integer>
	</dict>
	<key>@MMK_L_asterisk</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-57</integer>
		<key>@MMK_R_M</key>
		<integer>-6</integer>
		<key>@MMK_R_O</key>
		<integer>-15</integer>
		<key>@MMK_R_V</key>
		<integer>15</integer>
		<key>@MMK_R_X</key>
		<integer>0</integer>
		<key>@MMK_R_Y</key>
		<integer>10</integer>
		<key>@MMK_R_period</key>
		<integer>-80</integer>
		<key>questiondown</key>
		<integer>-61</integer>
		<key>space</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_hyphen</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_H</key>
		<integer>-29</integer>
		<key>@MMK_R_J</key>
		<integer>-29</integer>
		<key>@MMK_R_M</key>
		<integer>-29</integer>
		<key>@MMK_R_T</key>
		<integer>-67</integer>
		<key>@MMK_R_U</key>
		<integer>-29</integer>
		<key>@MMK_R_V</key>
		<integer>-82</integer>
		<key>@MMK_R_X</key>
		<integer>-57</integer>
		<key>@MMK_R_Y</key>
		<integer>-46</integer>
		<key>@MMK_R_Z</key>
		<integer>14</integer>
		<key>space</key>
		<integer>-19</integer>
	</dict>
	<key>@MMK_L_period</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-4</integer>
		<key>@MMK_R_O</key>
		<integer>-42</integer>
		<key>@MMK_R_T</key>
		<integer>-82</integer>
		<key>@MMK_R_U</key>
		<integer>-33</integer>
		<key>@MMK_R_V</key>
		<integer>-87</integer>
		<key>@MMK_R_X</key>
		<integer>0</integer>
		<key>@MMK_R_Y</key>
		<integer>-101</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-80</integer>
		<key>space</key>
		<integer>-20</integer>
	</dict>
	<key>question</key>
	<dict>
		<key>@MMK_R_asterisk</key>
		<integer>36</integer>
	</dict>
	<key>space</key>
	<dict>
		<key>@MMK_R_asterisk</key>
		<integer>-20</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-20</integer>
		<key>@MMK_R_period</key>
		<integer>-20</integer>
	</dict>
</dict>
</plist>
