<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>1F0084A8-7B99-4CC8-9697-D5CD53547910</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.sha-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
