<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E9A7C644-05BB-422D-B023-76897164B2E0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.alpha</key>
      <integer>10</integer>
    </dict>
  </dict>
</plist>
