<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>1AA84A84-B75A-4EAE-A231-BB3A58483F42</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.alpha</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
