<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,1,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D1C88D63-D878-4F1B-B033-23BB77E91A4C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.G</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.g.sc</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
