<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>EB981E17-3A4D-4465-B1FE-2DA1B6FAD9E3</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Yusbig-cy</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
