<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0.75,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>CC9108CD-EA2C-4D23-BCF3-6502FEB83FE9</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.omega</key>
      <integer>11</integer>
    </dict>
  </dict>
</plist>
