<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>5B0FFA07-0029-42D5-8C09-FD7EF5E47DB9</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.sigma</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
