<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D87B16A8-4C78-4564-81EF-7CB0B0007D8D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ezh</key>
      <integer>11</integer>
    </dict>
  </dict>
</plist>
