<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,0,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7DACF007-5CC5-4E23-9902-074A8B8F3EC9</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.question.sc</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
