<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>941FCC63-9A29-4733-96DF-1BCF7724A2B0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ge-cy</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
