<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,0.25,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B65A0817-D939-4C44-ADF6-27611D70B4E9</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.five</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.five.lf</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
