<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>8AE42626-C093-4960-A6FB-E0641B2C8FA7</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.be-cy.loclSRB</key>
      <integer>20</integer>
    </dict>
  </dict>
</plist>
