<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>2EDA96EC-326D-43F5-B1C2-9BE5838037A8</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.alpha</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
