<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>1A4BB8C5-4606-4C8D-8D36-4225EEA408EE</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.phi</key>
      <integer>9</integer>
    </dict>
  </dict>
</plist>
