<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>66C39319-3476-48DC-9F45-05F20353AB46</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.cedillacomb</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
