<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0.75,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>BF8F0A95-A8D8-428D-AF85-0BD8FE92F5B9</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ia-cy</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
