<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>4C104F2F-6165-411B-AFA4-CACABBC298C2</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.R</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.r.sc</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
