<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>8F0A1F19-FC7E-4258-989D-5C12ED428F75</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Omega</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
