<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,1,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>6D3E3BC3-BE6F-4FD7-99BF-EB02A7E8DD51</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.beta</key>
      <integer>8</integer>
    </dict>
  </dict>
</plist>
