<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>0FBAE267-07C1-45BF-B26C-31A371AA8382</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.liraTurkish</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
