<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B9B758C3-E2B7-4AEA-A79A-055F874B5AAF</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ia-cy</key>
      <integer>14</integer>
    </dict>
  </dict>
</plist>
