<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E9ADD8AC-A8D1-42AE-8F07-5A86DAD0AC02</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Germandbls</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.germandbls.sc</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
