<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>EA974F0C-B285-4CB5-B03E-D5FADEF4D657</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight.lf</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
