<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>2672E225-3310-4478-866F-96E033E9924F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.lambda</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
