<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>2891EB44-FECB-4A1D-AB29-26EF223B8241</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.iota</key>
      <integer>10</integer>
    </dict>
  </dict>
</plist>
