<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>149F169C-9B39-4F0A-8539-93D28629C758</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Psi</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
