<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,0.25,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>CD4E1546-6E06-41B8-9858-1487F2BA0CA3</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.w</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
