<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>8D040107-CE9A-49BA-A124-CC09383417A6</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.tau</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
