<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,0,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B309AD97-3C02-4EB2-99A5-2ADCA2131733</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.lambda</key>
      <integer>20</integer>
    </dict>
  </dict>
</plist>
